
@{
    ViewBag.Title = "View";
}

<div class="container">
<div class="section no-pad">
    <div class="center no-pad">
        <div class="col s12">
            <div class="icon-block">
                <h2 class="center" style="color:#333"><i class="material-icons md-96">thumb_up_off_alt</i></h2>
                <h5 class="center">Gracias por tu Voto</h5>
                <br>
                <h3><a href="#" >Volver a la entidad</a></h3>
            </div>
        </div>
    </div>
</div>
