@model IEnumerable<Cenit.Votos.Controllers.TarjetonViewModel>

@{

    //Layout = "../shared/_LayoutVotaciones.cshtml";
    Layout = "../shared/_Layout.cshtml";
}






<div id="w3hubs">
    <div class="container">
        <h2>BootStrap 4 Cards</h2>

        <div class="card-deck">
            <div class="card bg-primary b1">
                <div class="card-body text-center">
                    <img src="~/Content/Fotos/1.png" class="rounded-circle">
                    <h3>John Smith</h3>
                    <p class="card-text">dsfsdfsdf </p>
                    <div class="socialicon">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-center">
                    <img src="img/2.jpg" class="rounded-circle">
                    <h3>Devid Martin</h3>
                    <h5>Manger</h5>
                    <p class="card-text"></p>
                    <div class="socialicon">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="card bg-success m1">
                <div class="card-body text-center">
                    <img src="img/3.jpg" class="rounded-circle">
                    <h3>Mark Gospel</h3>
                    <h5>Team Leader</h5>
                    <p class="card-text">
                        /p>
                        <div class="socialicon">
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                </div>
            </div>
            <div class="card bg-danger m1">
                <div class="card-body text-center">
                    <img src="img/4.jpg" class="rounded-circle">
                    <h3>Kevin Dean</h3>
                    <h5>Web Developer</h5>
                    <p class="card-text"> </p>
                    <div class="socialicon">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>









