@import 'abstracts/colors';
@import 'abstracts/fonts.scss';
@import 'abstracts/functions.scss';
@import 'pages/home.scss';
@import 'pages/credito.scss';
@import 'components/button.scss';
@import 'components/_navbar.scss';

/* Variables*/

$unit: 6px;


.tituleAnimation {
    color: #e06d23;
    font: 500;
    font-size: 4.3rem;
    text-align: center;
    line-height: normal;
    margin: 0 20px;
    transition: all 0.3s;
}

.tituleAnimation:hover {
    color: $secondary-color;
    /*margin: 200px;*/
    letter-spacing: -1.3px;
}

.underline2 {
    /*color:red;*/
    display: inline-block;
    position: relative;
}

.underline2:after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    bottom: -20px;
    left: 40%;
    background: $secondary-color;
    /*background:blue;*/
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.underline2:hover:after {
    transform: scale(1);
    transform-origin: bottom left;
}

section.section {
    background: transparent;
}

.slideshow {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);

    .slide img {
        max-width: 10px;
        width: 10px;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
}


@function size($value) {
    @return $value * $unit;
}


.slick-initialized .slick-slide {
    @include obj-center();
    margin: 0 15px 0 0;
}

.titulos > h3 {
    font-size: size(5);
}

@media screen and (max-width: 899px) {
    .content-video {
        @include obj-center();
        margin: 0;
    }

    .tarjetas-Centradas {
        @include obj-center();
        flex-direction: column;
        margin: 30px;
        border: 1px solid red;
    }
}

@media (min-width: 900px) {
    .tarjetas-Centradas {
        @include obj-center();
        flex-direction: column;
        margin: 30px;
        /*border: 1px solid $primary-color;*/
        border-radius: 5%;
        transition: all 0.2s;
        /*background: red;*/
    }

    .icons > .tarjetas-Centradas:hover, .icons > .tarjetas-Centradas:focus {
        background: #fff;
        /*box-shadow: 0px 15px 30px -20px rgb(0 0 0 / 5%), 0px 15px 35px 0px rgb(135 146 154 / 15%);*/
        transform: translate3d(0,-10px,0);
        /*border: 2px solid $secondary-color;*/
        box-shadow: 0px 15px 30px -20px $sombras-color, 
                    0px 15px 30px -20px $sombras-color, 
                    0px 15px 30px -20px $sombras-color;
        /*background: blue;*/
    }

}
i {
    transition: all 0.2s ease-in-out;
}


.animacion_arriba:hover > i, .animacion_arriba:focus > i {
    /*background-color: blue;*/
    animation: wobble_vertical 1s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes wobble_vertical{
    0% {
        transform: translateY(5px);
    }

    20% {
        transform: translateY(-5px)
    }

    60% {
        transform: translateY(2px)
    }

    80% {
        transform: translateY(-2px)
    }

    100% {
        transform: translateY(0);
    }
}

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
    height: $nav-height;
    background: $nav-background;
}

// Logo and branding
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

// Container with no padding for navbar
.nav-container {
    max-width: $content-width;
    margin: 0 auto;
}

// Navigation
nav {
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;

            a,
            a:visited {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;

                &:hover {
                    background: $link-hover-color;
                    color: $nav-font-color;
                }

                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            }
            // Dropdown list
            ul li {
                min-width: 190px;

                a {
                    padding: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
}

@media only screen and (max-width: 798px) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: $nav-height 0 15px;

        ul {
            display: none;

            li {
                float: none;

                a {
                    padding: 15px;
                    line-height: 20px;
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;

    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    span:before {
        top: -10px;
    }

    span:after {
        bottom: -10px;
    }

    &.active span {
        background-color: transparent;

        &:before,
        &:after {
            top: 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

// Page content
article {
    max-width: $content-width;
    margin: 0 auto;
    padding: 10px;
}
