@charset "UTF-8";
/* FUNCION DE GIRAR*/
.girar {
  display: inline-block;
  border-radius: 10px;
  width: 100px;
  height: 100px; }

.girar:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 1; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/* Fin funcion de girar*/
/*Inicio de Funcion de subrayar*/
.underline {
  /*color:red;*/
  display: inline-block;
  position: relative; }

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: rgba(224, 85, 20, 0.75);
  /*background:blue;*/
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out; }

.underline:hover:after {
  transform: scale(1);
  transform-origin: bottom left; }

/*Fin de Funcion de subrayar*/
/*Zonas que ocultar*/
#nuestrosServicios {
  display: none; }

#sobreNosotros {
  display: none; }

/*Fin de Zonas que ocultar*/
.big-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

content-video > myButtons:hover {
  color: white; }

@media screen and (max-width: 899px) {
  .centerSpan {
    margin: 0 auto; } }

.myButtons {
  padding: 10px 50px;
  background-color: rgba(224, 85, 20, 0.75);
  color: white;
  border: none;
  border-radius: 30px;
  width: fit-content; }

.myButtons:link,
.myButtons:visited {
  text-decoration: none;
  text-align: center; }

/* Variables*/
.gBoxShadow {
  /*background-color: #f7f8f8;*/
  border-radius: 5%;
  box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.5), 0px 15px 30px -20px rgba(0, 0, 0, 0.5), 0px 15px 30px -20px rgba(0, 0, 0, 0.5); }

.tituleAnimation {
  color: #e06d23;
  font: 500;
  font-size: 4.3rem;
  text-align: center;
  line-height: normal;
  margin: 0 20px;
  transition: all 0.3s; }

.tituleAnimation:hover {
  color: #ec1c24;
  /*margin: 200px;*/
  letter-spacing: -1.3px; }

.underline2 {
  /*color:red;*/
  display: inline-block;
  position: relative; }

.underline2:after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  bottom: -20px;
  left: 40%;
  background: #ec1c24;
  /*background:blue;*/
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out; }

.underline2:hover:after {
  transform: scale(1);
  transform-origin: bottom left; }

section.section {
  background: transparent; }

.slideshow {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3); }
  .slideshow .slide img {
    max-width: 10px;
    width: 10px; }
  .slideshow .slick-prev:before,
  .slideshow .slick-next:before {
    color: black; }

.slick-initialized .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0 0; }

#top {
  background-color: rgba(224, 85, 20, 0.75);
  color: #eeeeee;
  padding: 10px 0; }

.titulos > h3 {
  font-size: 30px; }

@media screen and (max-width: 899px) {
  .content-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; }
  .tarjetas-Centradas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    border: 1px solid red; } }

@media (min-width: 900px) {
  .tarjetas-Centradas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    /*border: 1px solid $primary-color;*/
    border-radius: 5%;
    transition: all 0.2s;
    /*background: red;*/ }
  .icons > .tarjetas-Centradas:hover, .icons > .tarjetas-Centradas:focus {
    background: #fff;
    /*box-shadow: 0px 15px 30px -20px rgb(0 0 0 / 5%), 0px 15px 35px 0px rgb(135 146 154 / 15%);*/
    transform: translate3d(0, -10px, 0);
    /*border: 2px solid $secondary-color;*/
    box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.5), 0px 15px 30px -20px rgba(0, 0, 0, 0.5), 0px 15px 30px -20px rgba(0, 0, 0, 0.5);
    /*background: blue;*/ } }

i {
  transition: all 0.2s ease-in-out; }

.animacion_arriba:hover > i, .animacion_arriba:focus > i {
  /*background-color: blue;*/
  animation: wobble_vertical 1s ease-in-out;
  animation-iteration-count: 1; }

@keyframes wobble_vertical {
  0% {
    transform: translateY(5px); }
  20% {
    transform: translateY(-5px); }
  60% {
    transform: translateY(2px); }
  80% {
    transform: translateY(-2px); }
  100% {
    transform: translateY(0); } }

.navigation {
  height: 70px;
  background: #262626; }

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em; }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none; }

.nav-container {
  max-width: 1000px;
  margin: 0 auto; }

nav {
  float: right; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 70px;
        background: #262626;
        color: #ffffff;
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          background: #2581DC;
          color: #ffffff; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px; }

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block; }
  nav {
    width: 100%;
    padding: 70px 0 15px; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }
  .nav-dropdown {
    position: static; } }

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important; } }

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px; }
