<partial name="~/Views/Multimedia/_baseVideos.cshtml" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>baseVideos</title>
</head>
<body>
    <div>
        <img src="@ViewBag.img" alt="Alternate Text" />
    </div>
</body>
</html>
