
@{
    Layout = "~/Views/Shared/layoutFundacion.cshtml";
    ViewBag.Title = " Grupo Años Felices";
    ViewBag.titulo = "Grupo Años Felices";
    ViewBag.url = Url.Action("index", "Fundacion");
    ViewBag.activo = "NuestrosProgramas";
}

<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">
<style>
    #get-it {
        background: -webkit-linear-gradient(left, #f2a326 0%, rgba(242, 163, 38, 0.81) 50%, rgba(242, 163, 38, 0.55) 69%, rgba(242, 163, 38, 0.51) 100%);
        text-align: left;
    }

    #titulo {
        background-image: url(/img/texturaAmarilla2.jpg);
        background-size: 30%;
    }

    #pb1, #pb0, #pb2,#pb3 {
        background-image: url(/img/fondos/HR_FAN2011902.JPG);
       
        background-attachment: fixed;
        background-size: cover;
        padding-top: 300px;
        margin-top: -40px;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }
    #pb3 {
        background-attachment: fixed;
        background-size: cover;
        margin-top: -40px;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }
    .btn-primary{
            margin-top: 10px;
    margin-left: 230px;
        color: #f2a326;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #eee;
    }
</style>
<!--seccion de imagen 1-->
<section class="parallaxbox" id="pb0" style="padding-top: 200px;"></section>
<!-- div titulo-->
<section >
    <div id="titulo" style="margin-bottom: -40px;">
        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <h2>INTEGRACION</h2>
                </div>

            </div>
        </div>
    </div>
</section>
<!--contenido de fundacion-->
<section class="bar background-white no-mb" style="background-image:url(/img/texture-bw.png); -webkit-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1); -moz-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1); box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="background-color:white;width: 100%;">
                <p class="text-justify" style="font-size:20px">
                    El grupo de Años felices de COFINAL, convertido en una sociedad de amigos comprometidos en compartir y amarnos los unos a los otros
                    como lo dice el señor todo poderoso, comenzó actividades en 2008 bajo la dirección del señor Juvenal Granja, hoy benemérito presidente honorario,
                    y la colaboración de Giorgina Villareal, Blanca Ruiz, Carlos Lagos y Alfredo Mesías García.
                    "En años felices, la creatividad de las mujeres ha sido el factor mas importante, promotoras de ideas maravillosas para generar cambio de vida, espacios de cultura, diversión y tranquilidad."
                </p>
               
            </div>
          
        </div>
    </div>
</section>
<!--seccion de imagen 1-->
<section class="parallaxbox" id="pb1" style="padding-top: 200px;"></section>
<!-- div titulo-->
<section style="margin-bottom:30px">
    <div id="titulo">
        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <h2>Formulario de Inscripción</h2>
                    <a class="btn btn-primary pull-left" href="~/img/fundacion/Inscripcion_AÑOS FELICES.pdf" style="margin-top:10px; margin-left:5px" data-url="">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        <span class="hidden-xs floatL l5">Exportar</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<!--seccion de imagen 1-->
<section class="parallaxbox" id="pb2" style="padding-top: 200px;"></section>
<!-- div titulo-->
<section>
    <div id="titulo" style="margin-bottom: -40px;">
        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <h2>"HORARIOS DE ACTIVIDADES"</h2>
                  
                </div>

            </div>
        </div>
    </div>
</section>
<!--contenido de fundacion-->
<section class="bar background-white no-mb" style="background-image:url(/img/texture-bw.png); -webkit-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1); -moz-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1); box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="background-color:white;width: 100%;">
                <p class="text-justify" style="font-size:20px">
                    Bailoterapia:martes y jueves de 4:30pm a 5:30pm.
                </p>
                <p class="text-justify" style="font-size:20px">
                    Acuaterapia:viernes de 4:pm a 5:pm.
                    <li style="font-size:20px">Lugar:Gimnasio ZONA CARDIO.</li>
                </p>
                <p class="text-justify" style="font-size:20px">
                    Celebración de cumpleaños por trimestre.

                </p>
                <p class="text-justify" style="font-size:20px">
                    Asamblea anual.
                </p>
                <p class="text-justify" style="font-size:20px">
                    paseos dentro y fuera de Colombia, paseo a Cali, Pedregal Rio, a Sandona, eje cafetero, Medellin. etc
                    celebraciones dia de la familia con coros, danza y teatro, rumba general.
                </p>
            </div>

        </div>
    </div>
</section>
<!--seccion de imagen 1-->
<section class="parallaxbox" id="pb3" style="padding-top: 200px;"></section>
 <!--con carusel de fotos-->
<ul class="pgwSlideshow">
    @{ int count = 0;}
    @foreach (var item in ViewBag.imagenesAnios)
    {
        <li><img src="@item"></li>
        count++;
        if (count == 20)
        {
            break;
        }
    }

</ul>
<!-- scrip para parallax-->
<script type="text/javascript">
			function parallax() {
			    setpos("#pb0");
			    setpos("#pb1");
			    setpos("#pb2");
			    setpos("#pb3");
			   

			}
			function setpos(element, factor) {
				factor = factor || 2;

				var offset = $(element).offset();
				var w = $(window);

				var posx = (offset.left - w.scrollLeft()) / factor;
				var posy = (offset.top - w.scrollTop()) / factor;

				$(element).css('background-position', '100% '+posy+'px');

    // use this to have parralax scrolling vertical and horizontal
    //$(element).css('background-position', posx+'px '+posy+'px');
}

$(document).ready(function () {
	parallax();
}).scroll(function () {
	parallax();
});
</script>
<!--script de carusel de fotos-->
<script>
    $(document).ready(function () {
        $('.pgwSlideshow').pgwSlideshow();
    });
</script>



