@import '../abstracts/_colors.scss';

.myButtons {
    padding: 10px 50px;
    background-color: $primary-color;
    color: $light-color;
    border: none;
    border-radius: 30px;
    width: fit-content;
}

.myButtons:link,
.myButtons:visited {
    text-decoration: none;
    text-align: center;
}

.myButtons:hover{
    color:$secondary-color;
}

.slick-prev:before {
    /*content: "<";*/
    color: $primary-color;
    font-size: 30px;
}

.slick-next:before {
    /*content: ">";*/
    color: $primary-color;
    font-size: 30px;
}

.slick-dots {
    position: relative;
    color: $secondary-color !important;

    li {
        margin: 0 20px 0 0;

        button {
            background: $primary-color;
            text-indent: -9999px;
            overflow: hidden;
            border-radius: 20%;
            width: 3vh;
            height: 1vh;
            animation: all 1s case ease-out;

            &:hover, &:focus {
                background: $secondary-color
            }
        }

    }
}
.my-slider .slick-list {
    margin: 0px 10px;
}