@import '../abstracts/_colors.scss';

.myButtons {
    padding: 10px 50px;
    background-color: $primary-color;
    color: $light-color;
    border: none;
    border-radius: 30px;
    width: fit-content;
    text-decoration: none;
}

.myButtons:link,
.myButtons:visited {
    text-decoration: none;
    text-align: center;
}

.myButtons:hover{
    background:$secondary-color;
    color:white;
}

.slick-next:before {
    /*content: "<";*/
    color: $primary-color;
    font-size: 30px;
    padding: 5px;
}

.slick-prev:before {
    /*content: "<";*/
    color: $primary-color;
    font-size: 30px;
    padding:5px;
}


.slick-dots {
    position: relative;
    /*color: $secondary-color !important;*/

    li {
        margin: 0 20px 0 0;

        &.slick-active {

            button {
                padding: 6px 12px;

                &:before {
                    color: $secondary-color;
                }
            }
        }

        button {
            width: auto;
            height: auto;
            color: $primary-color;
            border-radius: 10%;
            /*background: $primary-color;*/
            /*text-indent: -9999px;*/
            /*overflow: hidden;*/
            /*border-radius: 20%;*/
            /*width: 3vh;*/
            /*height: 1vh;*/
            /*padding: 6px;*/
            /*outline: dashed red;*/
            animation: all 1s case ease-out;



            &:before {
                color: $primary-color;
            }
            /*&:hover, &:focus {
                background: $secondary-color

            }*/
        }
    }
}
.slick-active{
    color:$secondary-color;
}
/*.my-slider .slick-list {
    margin: 0px 10px;
}*/