<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Card</title>
    <meta charset="utf-8">
    <meta name="description" content=".">
    <meta name="keywords" content="r">
    <meta name="author" content="w3hubs.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/cards.css" rel="stylesheet" />


</head>

    <body>

       
            @RenderBody()
         



       



        @RenderSection("scripts", required: false)


    </body>
</html>
