@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}



<div class="container">
<div class="section">
    <div class="row center">
        <div class="col s12">
            <div class="icon-block">
                <h2 class="center" style="color:#333"><i class="material-icons md-96">error</i></h2>
                <h5 class="center">Ha ocurrido un error!!</h5>
                <p class="center bg-dark">
                   Hemos registrado un problema con la aplicación. <br />
                    Lo repararemos lo más pronto posible.<br />
                    Si tienes inquietudes porfavor contacta con la entidad<br />
                    y comunica el siguiente mensaje:
                </p>
                <br>
                <p><strong>@ViewBag.Error</strong> </p>
            </div>
        </div>

    </div>
</div>
</div>



