/*Zonas que ocultar*/
#nuestrosServicios {
    display: none;
}

#sobreNosotros {
    display: none;
}
/*Fin de Zonas que ocultar*/

@import '../abstracts/_functions.scss';
@import '../abstracts/_colors.scss';

/*.big-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}*/

.container_prin {
    max-width: 1200px;
    margin: 0 auto 30px;

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: none;
            /*color: black;*/
        }
    }
}

.contenedor {
    @include obj-center();
    flex-direction: column;
}


.servicios {
    background: $primary-color-light;
    padding: 30px;
}

#Video_Slider {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.5)
}

content-video > myButtons:hover {
    color: white;
}


@media screen and (max-width: 899px) {
    .centerSpan {
        margin: 0 auto;
    }
}
/* Contenido */

.tarjetas-Centradas {

    img {
        transition: all 0.2s ease-in-out;
        width: 100px;
    }

    .myButtons {
        margin: 20px auto;
        transition: all 0.2s ease-in-out;


        &:hover {
            background: $secondary-color;
            color: white;
        }
    }

    i {
        transition: all 0.2s ease-in-out;
    }

}

.animacion_arriba {
    &:hover > i {
        animation: wobble_vertical 1s ease-in-out;
        animation-iteration-count: 1;
    }

    &:focus > i {
        animation: wobble_vertical 1s ease-in-out;
        animation-iteration-count: 1;
    }

    &:hover > img {
        animation: wobble_vertical 1s ease-in-out;
        animation-iteration-count: 1;
    }

    &:focus > img {
        animation: wobble_vertical 1s ease-in-out;
        animation-iteration-count: 1;
    }
}



@keyframes wobble_vertical {
    0% {
        transform: translateY(5px);
    }

    20% {
        transform: translateY(-5px)
    }

    60% {
        transform: translateY(2px)
    }

    80% {
        transform: translateY(-2px)
    }

    100% {
        transform: translateY(0);
    }
}

.nuestros__Servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 20px;

    .tartjeta__servicios {
        width: 150px;
        height: 200px;
        /*border: 1px solid red;*/
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        gap: 20px;
        border-radius: 5px;
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.5);
            background: #fff;

            p {
                color: black;
            }
        }

        p {
            color: black;
            font-size: 15px;
            font-weight: 900;
        }

        img {
            width: 80%;
        }
    }
}


.text-prueba {
    float: right;
    display: flex;
    align-items: center;
    word-break: break-all;
    margin: 0 0 1em 1em;
}
/* The Modal (background) */
.modal-ventana {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentenido {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    overflow: hidden;
    border-radius: 2px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family: "Open Sans", sans-serif;
    background: #fff;
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-contentenido-left,
.modal-contentenido-right {
    flex: 0 1 auto;
}

.modal-contentenido-left {
    flex: 2;
}

.modal-contentenido-left img {
    width: 40rem;
    max-width: 95%;
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 2px;
}

.modal-contentenido-right {
    flex: 2;
    max-width: 100%;
    padding: 1rem 3rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -1px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -1px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.cerrar,
.cerrar-imp {
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;
    border-radius: 2px;
    transition: 0.4s ease-out;
}

.cerrar:hover,
.cerrar:focus,
.cerrar-imp:hover,
.cerrar-imp:focus {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    font-family: "Patua One", cursive;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

.modal-header p {
    margin: 0;
    padding: 0;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 0.5rem 3rem;
}

.modal-header {
    padding-top: 2rem;
}

.modal-footer {
    padding-bottom: 2rem;
}

/* ===== Page Content ===== */

.contenedor {
    width: 100%;
}

/* ESTILO PARA EL SLIDER DE IMAGENES*/
.caroosles_de_imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding: 70px 0;
    overflow-x: hidden;
    width: 80%;
}

.my-slider {
    padding: 0 70px;
}

@media (max-width: 500) {
    .imagen-slider {
        width: 200px;
        height: 200px;
    }
}

.slick-initialized .slick-slide {
    /*background-color: #b32532;*/
    /*color: #FFF;*/
    /*width:200px;*/
    /*height: 300px;*/
    margin: 0 15px 0 0;
    /*  display: flex;
  align-items: center;
  justify-content: center;*/
}

.imagen-slider {
    width: 25vh;
    height: 25vh;
}

.slick-next,
.slick-prev {
    z-index: 5;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
}

.slick-next:before,
.slick-prev:before {
    color: #000;
    font-size: 26px;
}

.container2 {
    padding: 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.container {
    width: 100%;
}

@media (max-width: 1317px) {
    #nav2 {
        font-size: 13px;
    }

    .navbar-brand > img {
        margin: 0;
    }
}

@media (max-width: 850) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    div.carousel .carousel {
        height: 70%;
    }
}
/* FIN DE ESTILO DE SLIDER*/


/* Cambios Actualizados*/


#sliderVideo {
    align-items: center;
}

.contenedor > .botones > button {
    margin: 10px 40px;
}

#seccionImagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seccionImagen > img {
    width: 30vh;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.icons > .tarjetas-Centradas > .icentrado {
    font-size: 3.5em;
    color: #fb7601;
    /*width: 11.5rem;*/
    /*height: 11.5rem;*/
    /*  border: 3px solid #fb7601;*/
    border-radius: 50%;
    padding: 20px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas-contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tarjetas-Centradas > i {
    font-size: 3.5em;
    color: #fb7601;
    margin: 20px 0 20px 0;
}

#formulario-2 > form > input,
#formulario-2 > form > label {
    width: 90%;
    margin: 10px;
    padding: 10px;
}

.contenedor > h3 {
    color: #e07414bf;
    font-weight: 700;
    /*font-size:3rem;*/
}

.form-button {
    margin: 10px 40px;
    background-color: rgba(224, 85, 20, 1);
    color: white;
    width: 150px !important;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.content-video {
    display: flex;
    flex-direction: column;
}

#formulario-2 > img {
    margin: 10px;
}

#formulario-2 {
    display: flex;
    flex-direction: column;
    background: rgba(0, 15, 36, 0.74);
    color: white;
    text-align: center;
}

/* Slider Video*/



#sliderVideo {
    /*position: fixed;*/
    right: 0;
    bottom: 0;
    width: 100%;
    /*height: 60vh;*/ /* Tamñano del video*/
    /*min-height: 100%;*/
    /*background-size: cover;*/
    object-fit: cover;
}

.content-video {
    position: absolute;
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #c2841c;
    /*width: 100%;*/
    /*padding: 20px;*/
    margin: 0 0 20px 20px;
}

.content-video > h3 {
    color: #a47d42;
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 450px) {
    .container2 {
        padding: 0 1rem 0;
    }
}

@media screen and (max-width: 899px) {
    #Video_Slider {
        align-items: center;
        justify-content: center;
    }

    .content-video > h3,
    .content-video > p {
        display: none;
    }

    .tarjetas-contenedor {
        flex-direction: column;
    }

    .contenedor > .botones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #formulario-2 > img {
        width: 90%;
    }

    #formulario-2 > form > h3 {
        color: white;
    }

    .titulos > h3 {
        text-align: center;
        /*font-size: 30px;*/
    }

    #letrapeque {
        font-size: 10px;
        color: gray;
    }
}

@media (min-width: 900px) and (max-width: 2000px) {
    .titulos > h3 {
        text-align: center;
        font-size: 30px;
    }

    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icons {
        flex-direction: row;
    }

    .tarjetas-Centradas > p {
        text-align: center;
        margin: 0 20px;
        padding: 0 0 20px 0;
    }

    #formulario-2 {
        flex-direction: row;
        color: black;
        background: white;
        align-items: center;
        justify-content: space-evenly;
    }

    #formulario-2 > form {
        position: relative;
        width: 50vh;
    }
}

/* Fin de Cambios Actualizados*/