
@{
    ViewBag.Title = "VerificarDocumento";
}

<h2>VerificarDocumento</h2>

<form action="/" method="post">
    <label for="submit">Digite su documento registrado en la entidad</label>
    <input id="submit" type="submit" name="subtmit" value="Enviar" />
    
    </form>>

