@{
    ViewBag.Title = "Nuestro Ahorros";
    ViewBag.titulo = "Opciones de Ahorro";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "productos";

}
<style>
    #heading-breadcrumbs {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/Img_Web2/backgroun_ahorro.jpg) center;
        padding: 60px 0;
        /* margin-bottom: 40px; */
    }
    .bs-callout {
        padding: 20px;
        margin-top: 20px 0;
        border: 1px solid #ce4844;
        border-left-width: 10px;
        border-radius: 3px;
        background-color: white;
    }

    .box-image-text {
        background: rgba(255, 255, 255, 0.83);
        border-radius: 3px;
        width: 350px;
        height: 265px;
        margin-left: 2px;
        position: relative;
        -webkit-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        -moz-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
    }

    .bar.background-white {
        background: rgba(255, 255, 255, 0);
    }

    .image:hover {
        transform: scale(0.8);
    }

    @* margen cuadros blancos *@

    .blanco {
         margin-left: 7%
    }

    .play:hover {
        background: #237fef;
        transition: 2s;
    }

    .play {
        width: 6em;
        border-radius: 150%;
        text-align: center;
        background-color: #da4d4d;
        font-size: 3em;
        color: white;
        transition: 2s;
    }

    .modal-body {
        background-color: #DAFDFD;
    }

    .modal-header {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #da4d4d;
    }

    .modal-footer {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: #da4d4d;
    }

    .top {
        margin-bottom: 20px;
    }

    #col {
        margin-right: 69px;
    }


    #imagenes {
        padding-bottom: 45px;
        margin: auto;
        padding-top: 20px;
        margin-top: -20px;
        @*-moz-box-shadow: -1px 3px 38px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 3px 38px 0px rgba(0,0,0,0.75);*@
    }

    .content {
        margin: 10px;
        text-justify: auto;
    }

    p {
        font-size: 15px
    }

    #textura {
        background-color: #E76100;
        -webkit-box-shadow: -1px 3px 38px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 3px 38px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 3px 38px 0px rgba(0,0,0,0.75);
        padding-top: 20px;
        margin-top: -20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
</style>

<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>

<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">

<!-- Modal video -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuestros Ahorros</h4>
            </div>
            <div class="modal-body">
                <video id="miv" src="~/Videos/ahorrosfin1.mp4" width="100%" controls></video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="stop()" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
<!-- slider-->
<!--seccion video-->
@*<div class="parallaxbox1" id="pb0" style="background-image:url(/img/ahorro1-2.jpg)">

    <div class="container">
        <center>
            <div class="play" data-toggle="modal" data-target="#myModal"> <i class="fa fa-play-circle-o" style="font-size:6em;"></i></div>

        </center>
    </div>


</div>*@

<!--nota-->
<section class="imagen_directorio">
    <img src="~/img/Img_Web2/ahorro.png" alt="Numero principal: 7366087" />
</section>

<section id="textura">
    <div class="container">
        <p class="text-justify" style="color:#eeeeee; font-size:20px;margin-top:20px;">
            Teniendo en cuenta las condiciones y necesidades de la población,
            <strong>COFINAL®</strong> ha diseñado un amplio portafolio de productos de ahorros, con el propósito de sembrar
            y cultivar en sus asociados, el buen hábito del ahorro, estimulándolo con atractivas tasas de interés,
            bajos costos financieros y un amplio portafolio.
        </p>
    </div>

</section>

<section class="page__Credito">
    <article>
        <a class="tipo_4" href="/Home/Productos/#cuentaCofiahorrito">
            <img class="imagen_ahorro" src="~/img/cofiahorrito.png">
            @*<p>COFIAHORRITO</p>*@
        </a>
    </article>
    <article>
        <a class="tipo_4" href="/Home/Productos/#cuentaCofijunior">
            <img class="imagen_ahorro" src="~/img/cofijunior1.png">
            @*<p>COFIJUNIOR</p>*@
        </a>
    </article>
    <article>
        <a class="tipo_4" href="/Home/Productos/#cuentaCofidiario">
            <img class="imagen_ahorro" src="~/img/cofidiario.png">
            @*<p>COFIDIARIO</p>*@
        </a>
    </article>
    <article>
        <a class="tipo_4" href="/Home/Productos/#cuentaEmpresarial">
            <img class="imagen_ahorro" src="~/img/empresarial.png">
            @*<p>AH. EMPRESARIAL</p>*@
        </a>
    </article>
    <article>
        <a class="tipo_4" href="/Home/Productos/#ahorroSemilla">
            <img class="imagen_ahorro" src="~/img/logo_semilla.png">
            @*<p>S. COOPERATIVA</p>*@
        </a>
    </article>
    <article>
        <a class="tipo_4" href="#">
            <img class="imagen_ahorro" src="~/img/ahprogramado.png">
            @*<p>A. PROGRAMADO</p>*@
        </a>
    </article>
    <article>
        <a class="tipo_4" href="/Home/Productos/#cdat">
            <img class="imagen_ahorro" src="~/img/cdat.png">
            @*<p>CDAT</p>*@
        </a>
    </article>
    <article>
        <a class="tipo_4" href="#">
            <img class="imagen_ahorro" src="~/img/tarjeta-01.png">
            @*<p>TARJETA DEBITO</p>*@
        </a>
    </article>
</section>


<!--contenido-->
<div id="imagenes" class="row" style="background-color: #ffffff;display:none;">
    <div class="container">
        <div class="row">
            <!--empieza aqui COFIAHORRITO-->
            <div class="col-12 col-sm-4 col-lg-3 card-products">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <a href="/Home/Productos/#cuentaCofiahorrito">
                                <img src="~/img/cofiahorrito.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                            </a>
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">COFIAHORRITO </h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                La cuenta <strong>COFIAHORRITO</strong> para niños de <strong>0</strong> a <strong>13</strong> años de edad.
                                Es la forma más divertida para aprender a realizar <strong>tus sueños.</strong>
                            </p>
                        </div>
                        <a href="/Home/Productos/#cuentaCofiahorrito" class="btn btn-default btn-cofinal-orange btn-cofinal-outline">Descubrir</a>
                    </div>
                </div>
            </div>

            <!--empieza aqui COFIJUNIOR-->
            <div class="col-12 col-sm-4 col-lg-3 card-products">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <a href="/Home/Productos/#cuentaCofijunior">
                                <img src="~/img/cofijunior1.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                            </a>
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">COFIJUNIOR</h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                Cuenta de ahorros <strong>COFIJUNIOR</strong> para jóvenes entre <strong>14</strong> y <strong>23</strong> años de edad, que se encuentren estudiando
                                <strong>exclusivamente.</strong>
                            </p>
                        </div>
                        <a href="/Home/Productos/#cuentaCofijunior" class="btn btn-default btn-cofinal-orange btn-cofinal-outline">Descubrir</a>
                    </div>
                </div>
            </div>
            <!--empieza aqui COFIDIARIO-->
            <div class="col-12 col-sm-4 col-lg-3 card-products ">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <a href="/Home/Productos/#cuentaCofidiario">
                                <img src="~/img/cofidiario.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                            </a>
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">COFIDIARIO</h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                Cuenta de ahorros <strong>COFIDIARIO</strong> para <strong>personas naturales</strong> mayores de edad, con actividad economica
                                <strong>asalariados.</strong>
                            </p>
                        </div>
                        <a href="/Home/Productos/#cuentaCofidiario" class="btn btn-default btn-cofinal-orange btn-cofinal-outline">Descubrir</a>
                    </div>
                </div>
            </div>
            <!--empieza aqui AH. EMPRESARIAL-->
            <div class="col-12 col-sm-4 col-lg-3 card-products">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <a href="/Home/Productos/#cuentaEmpresarial">
                                <img src="~/img/empresarial.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                            </a>
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">AH. EMPRESARIAL</h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                La cuenta <strong>EMPRESARIAL</strong> esta diseñada especialmente para personas jurídicas del sector <strong>público,</strong>
                                <strong>privado</strong> o <strong>Mipymes.</strong>
                            </p>
                        </div>
                        <a href="/Home/Productos/#cuentaEmpresarial" class="btn btn-default btn-cofinal-orange btn-cofinal-outline">Descubrir</a>
                    </div>
                </div>
            </div>
            <!--empieza aqui S. COOPERATIVA-->
            <div class="col-12 col-sm-4 col-lg-3 card-products">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <a href="/Home/Productos/#ahorroSemilla">
                                <img src="~/img/logo_semilla.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                            </a>
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">S. COOPERATIVA</h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                Cuenta de ahorros <strong>SEMILLA COOPERATIVA</strong> para persona natural con actividad económica independiente diferente a la <strong>agropecuaria.</strong>
                            </p>
                        </div>
                        <a href="/Home/Productos/#ahorroSemilla" class="btn btn-default btn-cofinal-orange btn-cofinal-outline">Descubrir</a>
                    </div>
                </div>
            </div>
            <!--empieza aqui A. PROGRAMADO-->
            <div class="col-12 col-sm-4 col-lg-3 card-products">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <a href="/Home/Productos/#ahorroSemilla">
                                <img src="~/img/ahprogramado.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                            </a>
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">A. PROGRAMADO</h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                Ahorro de <strong>libre término,</strong>  que permite a través de <strong>cuotas periódicas,</strong>  una determinada suma de dinero en un <strong>tiempo establecido.</strong>
                            </p>
                        </div>
                        <a href="/Home/Productos/#ahorroSemilla" class="btn btn-default btn-cofinal-orange btn-cofinal-outline">Descubrir</a>
                    </div>
                </div>
            </div>
            <!--empieza aqui CDAT-->
            <div class="col-12 col-sm-4 col-lg-3 card-products">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <a href="/Home/Productos/#cdat">
                                <img src="~/img/cdat.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                            </a>
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">CDAT</h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                Producto que le permite al <strong>asociado,</strong> invertir una cantidad de dinero en la <strong>Cooperativa</strong> durante un tiempo determinado, generanado <strong> rentabilidad.</strong>
                            </p>
                        </div>
                        <a href="/Home/Productos/#cdat" class="btn btn-default btn-cofinal-orange btn-cofinal-outline">Descubrir </a>
                    </div>
                </div>
            </div>
            <!--empieza aqui TARJETA DEBITO-->
            <div class="col-12 col-sm-4 col-lg-3 card-products ">
                <div class="card-our-services">
                    <div class="top" style="margin-bottom:1px;">
                        <div class="image">
                            <img src="~/img/tarjeta-01.png" style="height: 76.5px;margin-top: 10px;" alt="Cofijunior" class="img-responsive  center-block">
                        </div>
                    </div>
                    <div class="body-card">
                        <h2 class="title-card">TARJETA DEBITO</h2>
                        <div class="content" style="padding-top:11px;">
                            <p class="description-card">
                                <strong>La tarjeta debito <strong>COFINAL - VISA</strong></strong> le permite hacer uso de sus recursos, las <strong> 24 horas </strong>del día a nivel <strong>nacional</strong> e <strong>internacional.</strong>
                                <br /><br />
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- LA FIGURA NARANJA ES DESDE https://getwaves.io/  PUED E COPIAR Y PEGAR EL SVG GENERADO-->
    
</div>
<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(252,132,4,0.9)" fill-opacity="1" d="M0,32L80,42.7C160,53,320,75,480,112C640,149,800,203,960,213.3C1120,224,1280,192,1360,176L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
</div>




<!---->
<!--imagen 1-->
@*- <div class="parallaxbox1" id="pb1" style="background-image:url(/img/ahorro1-2.jpg) ">
            <!--boton simulador-->
            <div class="container" style="padding-top:1em; ">
                <div class="well" style="max-width:400px; margin:0 auto 10px;">
                    <!--<button id="miBoto" style="background-color:#da4d4d; background-size:20px;" type="button" class="btn btn-primary btn-lg btn-block" ><a style="color:white" href="~/SimuladorCDAT/Details">Simuladores</a></button>-->
    <a href="~/SimuladorCDAT/Details">
        <img src="~/img/simulador.png" alt="Simulador de Ahorro" style="width:350px;height:42px;border:0;">
    </a>
            </div>

        </div>
    </div>*@
<!--estilos-->
<section style="margin-bottom:0px;">
    <style>
        #miBoton {
            margin-top: 80px;
            position: absolute;
            display: block;
            width: 100%;
            height: 150px;
            border: none;
            padding-left: 40px; /* 40 píxeles a la izquierda para que no se amontone con la flecha */
            background: url("/img/button_0002_Capa-2.png") no-repeat center; /* Imagen sin repetir y en la parte superior */
            font-size: 50px; /*Aumentamos el tamaño de la fuente */
            font-weight: bold; /* Y la ponemos en negrita */
            color: #FFF;
            transition: 1s;
        }

            #miBoton:hover {
                /*opacity: 0.9;*/
                transition: 1s;
                background: url("/img/button_0001_Capa-3-copia.png") no-repeat center; /* Al pasar el ratón se ubica en la parte inferior */
            }
    </style>



</section>
<!-- scrip para parallax-->
<script type="text/javascript">
    function parallax() {
        setpos("#pb0");
        setpos("#pb1");

    }



    function setpos(element, factor) {
        factor = factor || 2;

        var offset = $(element).offset();
        var w = $(window);

        var posx = (offset.left - w.scrollLeft()) / factor;
        var posy = (offset.top - w.scrollTop()) / factor;

        $(element).css('background-position', '100% ' + posy + 'px');

        // use this to have parralax scrolling vertical and horizontal
        //$(element).css('background-position', posx+'px '+posy+'px');
    }

    $(document).ready(function () {
        parallax();
    }).scroll(function () {
        parallax();
    });
</script>
<!--funcion cerrar del video-->
<script>
    var myVideo = document.getElementById("miv");
    $('#myModal').on('hide.bs.modal', function (e) {
        // do something...
        myVideo.pause();
    })

    function stop() {
        var myVideo = document.getElementById("miv");
        if (myVideo.play) {
            myVideo.pause();

        }
        else {
            myVideo.play();
        }
    }
</script>
