@{
    ViewBag.Title = "Alianzas";
    ViewBag.titulo = "Alianzas Estratégias";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "alianzasActivo";
}
<div class="row">

    <div class="col-md-3">

        <div class="panel panel-default sidebar-menu with-icons">

            <div class="panel-body">

                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#alianza1" data-toggle="pill">WOCCU</a>
                    </li>
                    <li>
                        <a href="#alianza2" data-toggle="pill">SUMARED</a>
                    </li>
                    <li>
                        <a href="#alianza3" data-toggle="pill">COMFAMILIAR</a>
                    </li>

                </ul>
            </div>

        </div>

    </div>
    <div class="tab-content col-md-9">
        <div class="tab-pane active" id="alianza1">
            <img src="~/img/woccu.jpg" class="img-responsive" style="width:750px" />
            <h3>El Consejo Mundial de Cooperativas de Ahorro y Crédito (WOCCU)</h3>
            <p style="text-align:justify">
                (WOCCU) es la asociación gremial y agencia de desarrollo para el sistema internacional de cooperativas de ahorro y crédito. WOCCU promueve el crecimiento sustentable de las cooperativas de ahorro y crédito y otras cooperativas financieras en todo el mundo a fin de facultar a las personas para que mejoren su calidad de vida a través del acceso a servicios financieros asequibles y de alta calidad. WOCCU realiza esfuerzos de defensa activa en representación del sistema global de cooperativas de ahorro y crédito ante organizaciones internacionales y trabaja con gobiernos nacionales para mejorar la legislación y la regulación. Sus programas de asistencia técnica introducen nuevas herramientas y tecnologías para fortalecer el desempeño financiero de las cooperativas de ahorro y crédito y profundizar su alcance comunitario.
                WOCCU ha implementado 275 programas de asistencia técnica en 71 países. A nivel mundial, 53,000 cooperativas de ahorro y crédito en 100 países atienden a 188 millones de personas. Obtenga más información sobre el impacto global de WOCCU en www.woccu.org.
            </p>          
            <p class="buttons" style="margin-bottom: 40px;">
                <a class="btn btn-template-main scroll-to" href="http://www.woccu.org/">Visitar página web</a>
            </p>           
        </div>


        <div class="tab-pane" id="alianza2">
            <img src="~/img/Sumared_Colombia.jpg" class="img-responsive" style="width:250px" />
            <h3>SUMARED</h3>
            <p style="text-align:justify">
                La Red de Servicios y Canales Electrónicos de Colombia S.A., es una sociedad anónima, creada por 8 cooperativas de Ahorro y Crédito, Equidad de Seguros y WOCCU Services Group.
                El propósito de esta asociación, es el de integrar el mayor número de entidades del sector solidario, para lograr a través de sus canales, la red con la más amplia cobertura nacional, ofreciendo a través de ellas, productos y servicios con excelencia que permitan el acceso a servicios financieros que hasta la fecha han sido exclusividad del sector financiero tradicional.
                Uno de sus productos es Sugiro son los giros nacionales a través de todas las Cooperativas Asociadas de manera Ágil, Económico y Confiable.
            </p>
            <p class="buttons" style="margin-bottom: 40px;">
                <a class="btn btn-template-main scroll-to" href="http://www.sumaredsa.com/">Visitar página web >></a>
            </p>            
        </div>

        <div class="tab-pane" id="alianza3">
            <img src="~/img/COMFAMILIAR.jpg" class="img-responsive" height="50" />
            <h3>COMFAMILIAR DE NARIÑO</h3>
            <p>
                La Caja de Compensación Familiar de Nariño es una corporación sin ánimo de lucro, creada en desarrollo del Decreto 0118 del 21 de junio de 1957, refrendado por la Ley 21 de 1982, y sus decretos reglamentarios. Está estructurada para canalizar los aportes de empleadores públicos y privados hacia el pago del subsidio familiar, bajo la modalidad de servicios, especies o dinero, con el equitativo y justo propósito de aliviar las cargas económicas que implican el sostenimiento de la familia como núcleo de la sociedad a cargo del trabajador beneficiario.
            </p>
            <p class="buttons" style="margin-bottom: 40px;">
                <a class="btn btn-template-main scroll-to" href="http://www.comfamiliarnarino.com/web1">Visitar página web >></a>
            </p>         
        </div>

    </div>
</div>



