
@{
    ViewBag.Title = "Alivioscovid19";
    ViewBag.titulo = "Alivios de Créditos";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Dian";

}

<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>

<!-- estilo contenido -->
<style>
    .contenido {
        background-image: url(/img/texture-bw.png);
        padding-top: 20px;
        padding-bottom: 50px;
        -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
    }
</style>
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">
<style>
    #misio {
        padding-bottom: 1px;
        background: #da4d4d;
    }

    #an {
        color: black;
        font-size: 20px;
    }

    #resena, #visio, #quienS {
        padding-bottom: 1px;
        background: #da4d4d;
    }

    .text-justify {
        font-size: 18px;
    }
</style>



<!-- imagen fondo1-->
@*<img src="~/img/SobreAlivios3.jpg" style="width:1160px; height: 220px;" alt="Multiportal" class="img-responsive  center-block">*@

<!-- contenido-->

<section id="aso" class="bar background-white no-mb">
    <div class="container">
        <div class="row">


            <div class="heading text-center" style="margin-bottom:10px;padding-top:10px;">

                <h4>MEDIDAS PARA APOYAR A LOS ASOCIADOS ANTE EL COVID19</h4>

            </div>

            <br />

            <p class="mb-small text-justify" style="font-size:19px;">

                1.	Crédito: Periodo de gracias de 4 meses

                La tasa de interés y comisiones del crédito no sufrirán ninguna modificación.
                Este alivios tiene las siguientes características:

            </p>


            <p class="mb-small text-justify" style="font-size:19px;">

                Para tener acceso a este alivio, los asociados a los que se les otorgará el periodo de gracia,  recibirán un
                mensaje de texto, desde donde podrán contestar si aceptan o no este alivio. Si transcurren 8 días calendario desde
                la recepción de ese mensaje sin contestar, se entenderá que los clientes han aceptado el alivio, de acuerdo con lo
                indicado sobre el particular en la regulación expedida por la Superintendencia Financiera.

                Para tener acceso a este alivio, por favor déjanos tus datos en el siguiente enlace:

                Apreciado cliente, si sus ingresos no se han visto afectados por esta emergencia, lo invitamos a seguir pagando su crédito en las mismas fechas de pago inicialmente acordadas, a través de nuestros canales (Banca Móvil, Oficina Virtual, oficinas físicas y Corresponsales Bancarios).


            </p>


            <p class="mb-small text-justify" style="font-size:19px;">

                2 Te invitamos a utilizar los canales digitales dispuestos en el multiportal.

            </p>

            <p class="mb-small text-justify" style="font-size:19px;">

                Apreciado cliente, si sus ingresos no se han visto afectados por esta emergencia, lo invitamos a seguir pagando su
                crédito en las mismas fechas de pago inicialmente acordadas, a través de nuestros canales
                (Banca Móvil, Oficina Virtual, oficinas físicas y Corresponsales Bancarios).
            </p>

     
            



            <style>
                /* Curso CSS estilos aprenderaprogramar.com*/
                body {
                    font-family: Arial, Helvetica, sans-serif;
                }

                table {
                    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                    font-size: 18px;
                    margin: 45px;
                    width: 650px;
                    text-align: center;
                    border-collapse: collapse;
                }

                th {
                    font-size: 20px;
                    font-weight: normal;
                    text-align: center;
                    padding: 8px;
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;
                    border-bottom: 1px solid #fff;
                    color: #039;
                }

                td {
                    padding: 8px;
                    background: #e8edff;
                    border-bottom: 1px solid #fff;
                    color: #669;
                    border-top: 1px solid transparent;
                }

                tr:hover td {
                    background: #d0dafd;
                    color: #339;
                }
            </style>



        </div>
            
        </div>
   
</section>

<style>
    .maps iframe {
        pointer-events: none;
    }
</style>



<!--<div class='embed-container  maps'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9160578226433!2d-77.28225128580804!3d1.2185285623241011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed487375d6129%3A0x75d762a9f2c9e3da!2sCOFINAL!5e0!3m2!1ses!2sit!4v1454678597238" height="350" frameborder="0" style="border: 0; width: 100%;" allowfullscreen></iframe>
</div>-->
<!-- scrip para parallax-->
<script type="text/javascript">
    function parallax() {
        setpos("#pb0");
        setpos("#pb1");

    }



    function setpos(element, factor) {
        factor = factor || 2;

        var offset = $(element).offset();
        var w = $(window);

        var posx = (offset.left - w.scrollLeft()) / factor;
        var posy = (offset.top - w.scrollTop()) / factor;

        $(element).css('background-position', '100% ' + posy + 'px');

        // use this to have parralax scrolling vertical and horizontal
        //$(element).css('background-position', posx+'px '+posy+'px');
    }

    $(document).ready(function () {
        parallax();
    }).scroll(function () {
        parallax();
    });
</script>

@*<style type="text/css">
        body {
            overflow-x: hidden;
        }

        .video {
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
        }

            .video iframe {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>*@







