@{
    ViewBag.Title = "Concepto de interes";
    ViewBag.titulo = "Conceptos de Interes";
    ViewBag.url = Url.Action("index", "home");
    //ViewBag.activo = "conoscanosActivo";
    ViewBag.activo = "Conózcanos";
}

@*<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>*@

<style>
    #heading-breadcrumbs {
        background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/Img_Web2/background_conceptos.jpg);
        padding: 70px 0;
    }
</style>


<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">



    <!-- contenido-->
<section class="contenido">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.8);">
        <div class="conceptos_container">
            <a id="an" href="#valoresCoo"  data-toggle="tab">
                <div id="valo" class="item-conceptosinteres active" >
                    Valores cooperativos
                </div>
            </a>

            <a id="an" data-toggle="tab" href="#principios"><div id="prin" class="item-conceptosinteres">Principios cooperativos</div></a>
            <a id="an" data-toggle="tab" href="#gobierno"><div id="gob" class="item-conceptosinteres">Gobierno corporativo</div></a>
            <a id="an" data-toggle="tab" href="#politica"><div id="pol" class="item-conceptosinteres">Código de Etica y Conducta</div></a>
            <a id="an" data-toggle="tab" href="#estatutos"><div id="est" class="item-conceptosinteres">Estatutos</div></a>
            <a id="an" data-toggle="tab" href="#r_credito"><div id="est" class="item-conceptosinteres">Reglamentos Crédito</div></a>
        </div>

        <div class="tab-content" style="background-color: rgba(255, 255, 255, 0.8); font-size: 18px; ">
            <div class="tab-pane active" id="valoresCoo">
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <div class="heading">
                            <h4>Responsabilidad</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Quiere decir que los miembros asumen la responsabilidad para su cooperativa, para su creación y vitalidad continua.
                        </p>
                        <div class="heading">
                            <h4>Democracia</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Los miembros tienen derecho a participar, ser informados, ser escuchados y ser involucrados en la toma de decisiones.
                        </p>
                        <div class="heading">
                            <h4>Igualdad</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Los miembros deben asociarse lo más igualitariamente posible, aunque esto sea, a veces un reto difícil en las grandes cooperativas o en las federaciones de cooperativas.
                        </p>
                        <div class="heading">
                            <h4>Equidad</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Se refiere a la forma en que se trata a los miembros dentro de la cooperativa y a la forma de retribuirles su participación en la cooperativa.
                        </p>
                        <div class="heading">
                            <h4>Solidaridad</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            La cooperativa tiene la responsabilidad de velar por el interés colectivo de sus miembros. Es la mera causa y consecuencia de auto ayuda y ayuda mutua, dos de los conceptos fundamentales que son al corazón de la filosofía cooperativa.
                        </p>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/valores.jpg" alt="valores" /></div>
                </div>
            </div>
            <div class="tab-pane" id="principios">
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <div class="heading">
                            <h4>Adhesión libre y voluntaria</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Las cooperativas son organizaciones voluntarias abiertas para todas aquellas personas dispuestas a utilizar sus servicios y dispuestas a aceptar las responsabilidades que conlleva la membrecía, sin discriminación de género, raza, clase social, posición política o religiosa.
                        </p>
                        <div class="heading">
                            <h4>Gestión democrática de los asociados</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Las cooperativas son organizaciones democráticas controladas por sus miembros, quienes participan activamente en la definición de las políticas y en la toma de decisiones.
                        </p>
                        <div class="heading">
                            <h4>Participación económica de los asociados</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Los miembros contribuyen equitativamente y controlan de manera democrática el capital de la cooperativa. Por lo menos una parte de ese capital es propiedad común de la cooperativa.

                        </p>
                        <ul class="text-justify">
                            <li>Pagar aportes mensuales.</li>
                            <li>Pagar obligaciones crediticias.</li>
                            <li>Usar los servicios de la cooperativa.</li>
                        </ul>
                        <div class="heading">
                            <h4>Autonomía e Independencia</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Las cooperativas son organizaciones autónomas de ayuda mutua, controladas por sus miembros. Si entran en acuerdos con otras organizaciones, (incluyendo gobiernos) o tienen capital de fuentes externas, lo realizan en términos que aseguren el control democrático por parte de sus miembros y mantengan la autonomía de la cooperativa.
                            Las partes fundamentales  que hacen parte de este principio son:
                        </p>
                        <ul class="text-justify">
                            <li>Reglamentos.</li>
                            <li>Estatutos.</li>
                            <li>Manuales.</li>
                        </ul>


                        <div class="heading">
                            <h4>Educación, formación e información</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Las cooperativas le proporcionan educación y entrenamiento a sus miembros, representantes electos, dirigentes y empleados de modo que puedan contribuir eficazmente al desarrollo de sus cooperativas,
                            se brinda:
                        </p>
                        <ul class="text-justify">
                            <li>Inducción.</li>
                            <li>Capacitación.</li>
                            <li>Revistas, circulares, períodico, intranet, pagina web.</li>
                        </ul>
                        <div class="heading">
                            <h4>Cooperación entre Cooperativas</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            Las cooperativas sirven a sus miembros más eficazmente y fortalecen el movimiento cooperativo trabajando en conjunto o mediante las estructuras locales, nacionales e internacionales.
                        </p>


                        <div class="heading">
                            <h4>Compromiso con la Comunidad</h4>
                        </div>
                        <p id="pp" style="text-align:justify">
                            La cooperativa trabaja para el desarrollo sostenible de su comunidad por medio de políticas aceptadas por sus miembros,
                            de acuerdo al decreto 2880 se realizan:
                        </p>
                        <ul class="text-justify">
                            <li>Dotación  de escuelas.</li>
                            <li>Entrega de sudaderas.</li>
                            <li>Entrega de equipos de información.</li>
                        </ul>
                    </div>
                    <div class="parte-img principio">
                        <img src="~/img/Img_Web2/principios.jpg" alt="Alternate Text" />
                        <img src="~/img/Img_Web2/principios2.jpg" alt="Alternate Text" />
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="gobierno">
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <div class="heading">
                            <h4>Órganos de gobierno y control</h4>
                        </div>
                        <ul class="text-justify">
                            <li>Asamblea de delegados.</li>
                            <li>Consejo de administración.</li>
                            <li>Junta de vigilancia.</li>
                            <li>Gerencia general.</li>
                        </ul>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/principios.jpg" alt="Alternate Text" /></div>
                </div>
            </div>

            <div class="tab-pane" id="politica">
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <p id="pp" style="text-align:justify">
                            El presente código es el reflejo de que Cofinal® está comprometida en adoptar un marco de principios y valores de
                            autorregulación, con los que persigue orientar la conducta de sus organismos internos de administración y vigilancia,
                            colaboradores, contratistas y terceros. En el siguiente enlace puede conocer mas:
                        </p>
                        <a href="~/Formatos/Formato politica/Codigo_Etica_y_Conducta.pdf" download>Descargar Archivo: Codigo de etica y conducta.pdf</a>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/principios.jpg" alt="Alternate Text" /></div>
                </div>
            </div>

            <div class="tab-pane" id="estatutos">
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <p id="pp" style="text-align:justify">
                            Los estatutos son las reglas de juego que acuerdan los socios y define el funcionamiento general de la Cooperativa.
                        </p>
                        <a href="~/Formatos/Formato estatutos/Estatutos.pdf" download>Descargar Archivo: Estatutos.pdf</a>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/estatutos.jpg" alt="Alternate Text" /></div>
                </div>
            </div>

            <div class="tab-pane" id="r_credito">
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <p id="pp" style="text-align:justify">
                            El Reglamento de Crédito contiene las condiciones generales aplicables a los actos cooperativos celebrados
                            entre Cofinal® y sus asociados:
                        </p>
                        <a href="~/Formatos/Formatos creditos/1.reg_credito.pdf" download>Descargar Archivo: Reglamento de crédito.pdf</a>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/estatutos.jpg" alt="Alternate Text" /></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,32L120,74.7C240,117,480,203,720,202.7C960,203,1200,117,1320,74.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</div>

<!-- scrip para parallax-->
@*<script type="text/javascript">
    function parallax() {
        setpos("#pb0");
        setpos("#pb1");

    }



    function setpos(element, factor) {
        factor = factor || 2;

        var offset = $(element).offset();
        var w = $(window);

        var posx = (offset.left - w.scrollLeft()) / factor;
        var posy = (offset.top - w.scrollTop()) / factor;

        $(element).css('background-position', '100% ' + posy + 'px');

        // use this to have parralax scrolling vertical and horizontal
        //$(element).css('background-position', posx+'px '+posy+'px');
    }

    $(document).ready(function () {
        parallax();
    }).scroll(function () {
        parallax();
    });
</script>*@

<script>
    const list__somos = document.querySelectorAll(".item-conceptosinteres");

    document.querySelectorAll(".item-conceptosinteres").forEach((somos) => {
        somos.addEventListener("click", () => {
            list__somos.forEach(somosT => somosT.classList.remove('active'));
            //console.log(agencia.id);
            somos.classList.add('active');
            //document.querySelectorAll(".tab-pane").forEach((item) => {
            //    item.classList.remove('active');
            //    //console.log(item.classList);
            //    //console.log(agencia)
            //    //console.log(item.id);
            //    //console.log(item);
            //    const agencia_lugar = `${agencia.id}_Agencia`
            //    if (item.id == agencia_lugar) {
            //        //console.log(item.id)
            //        item.classList.add('active');
            //    }
            //})
        });
    })
</script>