@{
    ViewBag.Title = "Concepto de interes";
    ViewBag.titulo = "Conceptos de Interes";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "conoscanosActivo";
}
<style>
    #an {
        color: black;
        font-size: 20px;
    }

    .text-justify, #pp {
        font-size: 18px;
    }

    #valo, #prin, #gob, #pol, #est {
        padding-bottom: 1px;
        background: #da4d4d;
    }

    #get-it {
        background: -webkit-linear-gradient(left, rgba(216,65,65,0.99) 0%, rgba(216,65,65,0.89) 49%, rgba(213,195,195,0.81) 90%, rgba(213,195,195,0.79) 100%);
        text-align: left;
        -webkit-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        -moz-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        height: 120px;
    }

    #titulo {
        background-image: url(/img/textura1.png);
        background-size: 30%;
    }
</style>

<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>

<style>
    .contenido {
        background-image: url(/img/texture-bw.png);
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
    }
</style>
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">

<!-- imagen fondo1-->
<!---<div class="parallaxbox" id="pb0" style="background-image: url(/img/fondos/CB100787.JPG);"> </div>

<!-- div titulo-->
<!---
<div id="titulo">
    <div id="get-it">
        <div class="container">
            <div class="text-center">
                <h2>Conozca de nosotros</h2>
            </div>

        </div>
    </div>
</div>

    <!-- contenido-->
<section class="contenido">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.8); -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);-moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);   ">
        <ul class="nav nav-tabs" style="background-color:#da4d4d">
            <li class="active" id="valo"><a id="an" href="#valoresCoo" data-toggle="tab">Valores cooperativos</a></li>
            <li id="prin"><a id="an" data-toggle="tab" href="#principios">Principios cooperativos</a></li>
            <li id="gob"><a id="an" data-toggle="tab" href="#gobierno">Gobierno corporativo</a></li>
            <li id="pol"><a id="an" data-toggle="tab" href="#politica">Politica Tratamiento Información</a></li>
            <li id="est"><a id="an" data-toggle="tab" href="#estatutos">Estatutos</a></li>
            <li id="est"><a id="an" data-toggle="tab" href="#r_credito">Reglamentos Crédito</a></li>

        </ul>

        <div class="tab-content" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="tab-pane active" id="valoresCoo">
                <p style="text-align:justify">

                </p>
                <div class="heading">
                    <h4>Responsabilidad</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Quiere decir que los miembros asumen la responsabilidad para su cooperativa, para su creación y vitalidad continua.
                </p>
                <div class="heading">
                    <h4>Democracia</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Los miembros tienen derecho a participar, ser informados, ser escuchados y ser involucrados en la toma de decisiones.
                </p>
                <div class="heading">
                    <h4>Igualdad</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Los miembros deben asociarse lo más igualitariamente posible, aunque esto sea, a veces un reto difícil en las grandes cooperativas o en las federaciones de cooperativas.
                </p>
                <div class="heading">
                    <h4>Equidad</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Se refiere a la forma en que se trata a los miembros dentro de la cooperativa y a la forma de retribuirles su participación en la cooperativa.
                </p>
                <div class="heading">
                    <h4>Solidaridad</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    La cooperativa tiene la responsabilidad de velar por el interés colectivo de sus miembros. Es la mera causa y consecuencia de auto ayuda y ayuda mutua, dos de los conceptos fundamentales que son al corazón de la filosofía cooperativa.
                </p>

            </div>
            <div class="tab-pane" id="principios">
                <div class="heading">
                    <h4>Adhesión libre y voluntaria</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Las cooperativas son organizaciones voluntarias abiertas para todas aquellas personas dispuestas a utilizar sus servicios y dispuestas a aceptar las responsabilidades que conlleva la membrecía, sin discriminación de género, raza, clase social, posición política o religiosa.
                </p>
                <div class="heading">
                    <h4>Gestión democrática de los asociados</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Las cooperativas son organizaciones democráticas controladas por sus miembros, quienes participan activamente en la definición de las políticas y en la toma de decisiones.
                </p>
                <div class="heading">
                    <h4>Participación económica de los asociados</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Los miembros contribuyen equitativamente y controlan de manera democrática el capital de la cooperativa. Por lo menos una parte de ese capital es propiedad común de la cooperativa.

                </p>
                <ul class="text-justify">
                    <li>Pagar aportes mensuales.</li>
                    <li>Pagar obligaciones crediticias.</li>
                    <li>Usar los servicios de la cooperativa.</li>
                </ul>
                <div class="heading">
                    <h4>Autonomía e Independencia</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Las cooperativas son organizaciones autónomas de ayuda mutua, controladas por sus miembros. Si entran en acuerdos con otras organizaciones, (incluyendo gobiernos) o tienen capital de fuentes externas, lo realizan en términos que aseguren el control democrático por parte de sus miembros y mantengan la autonomía de la cooperativa.
                    Las partes fundamentales  que hacen parte de este principio son:
                </p>
                <ul class="text-justify">
                    <li>Reglamentos.</li>
                    <li>Estatutos.</li>
                    <li>Manuales.</li>
                </ul>


                <div class="heading">
                    <h4>Educación, formación e información</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Las cooperativas le proporcionan educación y entrenamiento a sus miembros, representantes electos, dirigentes y empleados de modo que puedan contribuir eficazmente al desarrollo de sus cooperativas,
                    se brinda:
                </p>
                <ul class="text-justify">
                    <li>Inducción.</li>
                    <li>Capacitación.</li>
                    <li>Revistas, circulares, períodico, intranet, pagina web.</li>
                </ul>
                <div class="heading">
                    <h4>Cooperación entre Cooperativas</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    Las cooperativas sirven a sus miembros más eficazmente y fortalecen el movimiento cooperativo trabajando en conjunto o mediante las estructuras locales, nacionales e internacionales.
                </p>


                <div class="heading">
                    <h4>Compromiso con la Comunidad</h4>
                </div>
                <p id="pp" style="text-align:justify">
                    La cooperativa trabaja para el desarrollo sostenible de su comunidad por medio de políticas aceptadas por sus miembros,
                    de acuerdo al decreto 2880 se realizan:
                </p>
                <ul class="text-justify">
                    <li>Dotación  de escuelas.</li>
                    <li>Entrega de sudaderas.</li>
                    <li>Entrega de equipos de información.</li>
                </ul>

            </div>

            <div class="tab-pane" id="gobierno">
                <div class="heading">
                    <h4>Órganos de gobierno y control</h4>
                </div>
                <ul class="text-justify">
                    <li>Asamblea de delegados.</li>
                    <li>Consejo de administración.</li>
                    <li>Junta de vigilancia.</li>
                    <li>Gerencia general.</li>

                </ul>
            </div>

            <div class="tab-pane" id="politica">
                <p id="pp" style="text-align:justify">
                    Esta política aplica para todos los titulares de información personal que sea utilizada y/o se encuentre en las bases de datos de COFINAL LTDA:
                </p>
                <a href="~/Formatos/FORMATOS POLITICA/Politica.pdf" download>Descargar Archivo:PoliticaTI.pdf</a>
            </div>

            <div class="tab-pane" id="estatutos">
                <p id="pp" style="text-align:justify">
                    Los estatutos son las reglas de juego que acuerdan los socios y define el funcionamiento general de la Cooperativa.
                </p>
                <a href="~/Formatos/Formato estatutos/Estatutos.pdf" download>Descargar Archivo:Estatutos.pdf</a>
            </div>

            <div class="tab-pane" id="r_credito">
                <p id="pp" style="text-align:justify">
                    El Reglamento de Crédito contiene las condiciones generales aplicables a los actos cooperativos celebrados 
                    entre Cofinal® y sus asociados: 
                </p>
                <a href="~/Formatos/Formatos creditos/1.reg_credito.pdf" download>Descargar Archivo: Reglamento de crédito.pdf</a>
            </div>



        </div>
    </div>
</section>

<!-- imagen fondo1-->
<div class="parallaxbox" id="pb1" style="background-image: url(/img/fondos/fondoconinteres.jpg);"> </div>

<!-- scrip para parallax-->
<script type="text/javascript">
    function parallax() {
        setpos("#pb0");
        setpos("#pb1");

    }



    function setpos(element, factor) {
        factor = factor || 2;

        var offset = $(element).offset();
        var w = $(window);

        var posx = (offset.left - w.scrollLeft()) / factor;
        var posy = (offset.top - w.scrollTop()) / factor;

        $(element).css('background-position', '100% ' + posy + 'px');

        // use this to have parralax scrolling vertical and horizontal
        //$(element).css('background-position', posx+'px '+posy+'px');
    }

    $(document).ready(function () {
        parallax();
    }).scroll(function () {
        parallax();
    });
</script>

