@{
    ViewBag.Title = "Convenios";
    ViewBag.titulo = "Convenios";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Portafolio";

}
<style>
    .text-justify {
        font-size: 18px;
    }

    #heading-breadcrumbs {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
            url(../../img/Img_Web2/backgroun_convenio.jpg) center;
        padding: 50px 0;
        /* margin-bottom: 40px; */
    }

</style>

<section class="imagen_baner">
    <img class="img_desk" src="~/img/Img_Web2/convenios_alianzas.png" alt="Numero principal: 7366087" />
    <img class="img_phone" src="~/img/Img_Web2/convenios_alianzas_cel.png" alt="Numero principal: 7366087" />
</section>

<section class="container__Convenio">
    <div class="convenio__Header">
        <div class="convenio__text">
            <h2>CONVENIOS Y ALIANZAS</h2>
            <h3>¿Que convenios tengo beneficio como asociado?</h3>
            <p>
                El convenio es un acuerdo entre dos o mas perosnas<br>
                por el que se llegan a distintos pactos.En derecho, <br>
                los convenios mas destacados son losconvenios <br>
                reguladores y convenios laborales.
            </p>
        </div>
        <img src="~/img/Img_Web2/convenio_imagen.png">
    </div>
    <div class="convenio__control">
        <div id="todos" class="convenio__boton control_con_active"><i class="fas fa-light fa-border-all"></i>Todos</div>
        <div id="beneficio" class="convenio__boton"> <i class="fas fa-thin fa-circle-check"></i>Beneficios</div>
        <div id="exequial" class="convenio__boton"><i class="fas fa-solid fa-cross"></i>Exequial</div>
        <div id="financiero" class="convenio__boton"><i class="fas fa-thin fa-money-bill"></i>Financiero</div>
        <div id="giros" class="convenio__boton"><i class="fas fa-solid fa-arrows-rotate"></i>Giros</div>
        <div id="salud" class="convenio__boton"><i class="fas fa-solid fa-heart-pulse"></i>Salud</div>
        <div id="seguros" class="convenio__boton"> <i class="fas fa-light fa-user-shield"></i>Seguros</div>
    </div>


    <div class="convenio__main">
        <div id="finagro" class="convenio__items seguros_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/asegurado_solidaria_colombia.png">
            </div>
            <a class="myButtons">Ingresar</a>
        </div>
        <div class="convenio__items beneficio_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/aventura_turs.jpg">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div class="convenio__items beneficio_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/confamiliar_nariño.jpg">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div class="convenio__items">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/Familias_en_Accion.png">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div class="convenio__items salud_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/H_Civil_Ipiales.png">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div class="convenio__items financiero_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/Iglesia_Cristiana.jpg">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div id="finagro" class="convenio__items beneficio_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/INVÍAS_Colombia_logo.png">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div id="finagro" class="convenio__items financiero_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/pasto.jpg">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div id="finagro" class="convenio__items financiero_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/Popayan.png">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div id="finagro" class="convenio__items financiero_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/Sandona.jpg">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div id="finagro" class="convenio__items beneficio_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/turismo_andino.jpg">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div id="finagro" class="convenio__items exequial_item">
            <div class="container__imagen__convenio"><img src="~/img/Convenios/yo_reinare.png"></div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
        <div id="finagro" class="convenio__items seguros_item">
            <div class="container__imagen__convenio">
                <img src="~/img/Convenios/seguros_de_vida.png">
            </div>
            @*<a class="myButtons">Ingresar</a>*@
        </div>
    </div>
</section>

<dialog class="modal_Agencias" id="dialog_finagro">
    <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
    <div class="container__Modal">
        <div class="header_modal">
            <h2>Finagro</h2>
            <img src="https://caracoltv.brightspotcdn.com/dims4/default/39d8175/2147483647/strip/true/crop/1000x566+0+0/resize/1000x566!/quality/90/?url=http%3A%2F%2Fcaracol-brightspot.s3.amazonaws.com%2Ffb%2F28%2F5d677744438d8427422e73e4102b%2Fpalmira-valle-del-cauca.jpg" />
        </div>
        <p>
            <strong>Dirección: </strong><br>
            Calle 5ta. No. 03-77<br>
            <strong>Telefono: </strong><br>
            Teléfono: 7336300 Extensiones: 200 - 201<br>
            <strong>Horario de Atencion: </strong>
            Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
        </p>
        <div class="imagen_Google">GOOGLE MAPS</div>
    </div>
</dialog>

<script>
    var ubicacion = window.location.hash;
    console.log(ubicacion);
    $('a[href=' + ubicacion + ']').tab('show')
</script>

<script>
    // const body = document.querySelector("body");
    // console.log(body);

    const convenios = document.querySelectorAll(".convenio__items");
    const convenios_controls = document.querySelectorAll(".convenio__boton");

    document.querySelectorAll(".convenio__boton").forEach((item) => {
        item.addEventListener("click", () => {
            convenios_controls.forEach(a => a.classList.remove('control_con_active'));
            item.classList.add('control_con_active')
            console.log(`Esto: ${item.classList}`)
            convenios.forEach(convenio => convenio.classList.add('con_desactive'));
            document.querySelectorAll(".convenio__items").forEach((convenio) => {
                if (item.id == "todos") {
                    convenios.forEach(convenio => convenio.classList.remove('con_desactive'));
                } else {
                    const cla = `${item.id}_item`
                    const clases_convenio = convenio.classList.value;
                    if (clases_convenio.match(cla)) {
                        convenio.classList.remove('con_desactive')
                        console.log(convenio.classList.value)
                    };
                }
            })
        });
    });
</script>

<script>
    const body = document.querySelector("body");
    document.querySelectorAll(".convenio__items").forEach((item) => {
        item.addEventListener("click", (event) => {
            const stringModal = `dialog_${item.id}`;
            const modal = document.querySelector(`#${stringModal}`)
            modal.showModal();
            body.style.overflow = "hidden";
            document.querySelectorAll(".close-button").forEach((item) => {
                item.addEventListener("click", (event) => {
                    modal.close()
                    body.style.overflow = "auto";
                });
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.close();
                        body.style.overflow = "auto";
                    }
                };
            });
        });
    });
</script>