@{
    ViewBag.Title = "Nuestros créditos";
    ViewBag.titulo = "Nuestros Créditos";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Portafolio";

}

<section class="imagen_baner">
    <img class="img_desk" src="~/img/Img_Web2/Creditos.png" alt="Numero principal: 7366087" />
    <img class="img_phone" src="~/img/Img_Web2/creditos_cel.png" alt="Numero principal: 7366087" />
</section>


<!--seccion de nota-->
<section id="textura" style="display:none">
    <div class="container">
        <p class="text-justify" style="color:#eeeeee; font-size:20px;">
            <strong>Cofinal</strong> cuenta con una amplia gama de líneas de crédito, diseñadas para cubrir las necesidades de recursos económicos de los asociados,
            personas naturales y jurídicas, con plazos flexibles, cómodas tasas de interés sin generación de costos adicionales. Hacemos realidad sus sueños
        </p>
    </div>
</section>

<section class="page__Credito">

    @{
        // En la primera parte se pone el nombre de la imagen y en el segundo el link

        var Creditos = new Dictionary<string, string>
        {
            {"EDUCATIVO.png", "#creditoEducativo" },
            {"VIVIENDA.png", "#creditoVivienda" },
            {"CARTERA.png", "#creditoCartera" },
            {"LIBRANZA.png", "#creditoLibranza" },
            {"CONSUMO.png", "#creditoConsumo" },
            {"MICROCRE.png", "#microcredito" },
            {"ROTATIVO.png", "#rotativos" },
            {"cofinagro.png", "#cofinagro" },
        };

        foreach (var credito in Creditos)
        {
            <a class="tipo_4" href="/Home/ProductosCreditos/@credito.Value">
                <img class="imagen_credito" src="~/img/Img_Web2/creditos/@credito.Key" alt="Imagen de @credito.Key">
            </a>
        }

        @functions {
            public string GetHello()
            {
                return "Hello";
            }
        }


    }
        @*<div>From method: @GetHello() dos</div>*@

</section>

<!--Seccion de herramienta de Credito-->

<section>
    <div class="container__Herramienta">
        <h3>Herramienta de crédito</h3>
        <div class="section__Credito">
            <div>
                <img class="imagen_credito" src="~/img/Img_Web2/iconoCredito.png">
                <a href="~/FormatosAC/Details" class="myButtons">Solicita tu crédito</a>
            </div>
            <div>
                <img class="imagen_credito" src="~/img/Img_Web2/iconos/simuladores.png">
                <a href="~/Home/Simulador" class="myButtons">Simulador de crédito</a>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(252,132,4,0.9)" fill-opacity="1" d="M0,64L80,101.3C160,139,320,213,480,213.3C640,213,800,139,960,96C1120,53,1280,43,1360,37.3L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
</div>

