
@{
    ViewBag.Title = "Directorio";
    ViewBag.titulo = "Directorio Telefónico";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Directorio";

}

<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>

<!-- estilo contenido -->
<style>
    .contenido {
        background-image: url(/img/Img_Web2/background-credito.jpg);
        padding-top: 20px;
        padding-bottom: 50px;
        -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
    }

    #heading-breadcrumbs {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url(../../img/Img_Web2/background_directorio.jpg) center;
        padding: 60px 0;
        /* margin-bottom: 40px; */
    }
</style>
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">



<!-- imagen fondo1-->
@*<img src="~/img/centralcontactos1.png" style="width:1800px; height: 350px;" alt="Contactos" class="img-responsive  center-block">*@

    <section class="imagen_directorio">
        <img src="~/img/Img_Web2/directorio.png" alt="Numero principal: 7366087" />
    </section>

<section>
    <div class="container__Directorio">
        <div id="D_Gere" class="directorio">
            <i class="fas fa-solid fa-building"></i>
            <p>GERENCIA GENERAL</p>
        </div>
        <div id="D_Admin" class="directorio">
            <i class="fas fa-solid fa-list-check"></i>
            <p>SUBGERENCIA ADMINISTRATIVA</p>
        </div>
        <div id="D_Merca" class="directorio">
            <i class="fas fa-solid fa-square-poll-vertical"></i>
            <p>SUBGERENCIA COMERCIAL Y DE MERCADEO</p>
        </div>
        <div id="D_Fina" class="directorio">
            <i class="fas fa-solid fa-hand-holding-dollar"></i>
            <p>SUBGERENCIA FINANCIERA</p>
        </div>
        <div id="D_Cre" class="directorio">
            <i class="fas fa-regular fa-credit-card"></i>
            <p>SUBGERENCIA DE CREDITO Y CARTERA</p>
        </div>
        <div id="D_Tic" class="directorio">
            <i class="fas fa-regular fa-computer"></i>
            <p>SUBGERENCIA TIC</p>
        </div>
        <div id="D_Sar" class="directorio">
            <i class="fas fa-solid fa-circle-radiation"></i>
            <p>SUBGERENCIA DE RIESGOS Y OFICIAL DE  CUMPLIMIENTO SARLAFT</p>
        </div>
        <div id="D_Juri" class="directorio">
            <i class="fas fa-solid fa-scale-balanced"></i>
            <p>
                ASESOR JURIDICO INTERNO
                Y DIRECCIÓN DE COBRANZAS
            </p>
        </div>
        <div id="D_Control" class="directorio">
            <i class="fas fa-regular fa-square-check"></i>
            <p>
                AREA DE CONTROL INTERNO
            </p>
        </div>
    </div>

    @*Inicio de dialogos*@
    <dialog class="modal_Agencias" id="dialog_D_Gere">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            @*<th>Celular</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active-row">
                            <td>Gerencia General</td>
                            <td>249</td>
                            <td>Dra. Esperanza Rojas de Bastidas</td>
                            @*<td>3174758201</td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_container" id="dialog_D_Admin">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Secretaria Gerencia</td>
                            <td>250</td>
                            <td>Alexandra Pantoja Castro</td>
                            <td><a href="tel:+3185358284">3185358284</a></td>
                        </tr>
                        <tr class="active-row">
                            <td>Talento Humano</td>
                            <td>251</td>
                            <td>Viviana Rosero Enriquez</td>
                            <td><a href="tel:+3174758201">3174758201</a></td>
                        </tr>
                        <tr>
                            <td>Analista de Talento Humano</td>
                            <td>252</td>
                            <td>Angie Martínez Rosero</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Director de organización y métodos</td>
                            <td>265</td>
                            <td>Juan Camilo Pérez Herrera</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Gestión Documental</td>
                            <td>118</td>
                            <td>Doris Muñoz Casanova</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Jefe de Archivo</td>
                            <td>118</td>
                            <td>Mercedes Guerrero</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Merca">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Subgerencia Comercial</td>
                            <td>253</td>
                            <td>Alfredo Paz Delgado</td>
                            <td></td>
                        </tr>
                        <tr class="active-row">
                            <td>Coordinador de Alianzas y Seguros</td>
                            <td>260</td>
                            <td>Ana Lucia Enríquez Jiménez</td>
                            <td><a href="tel:+3160232578">3160232578</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Fina">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Subgerencia Financiera</td>
                            <td>255</td>
                            <td>Miguel Benavides Gomez</td>
                        </tr>
                        <tr class="active-row">
                            <td>Tesorería</td>
                            <td>256</td>
                            <td>Diana Fajardo Navarro</td>
                            <td><a href="tel:+3174758201">3174758201</a></td>
                        </tr>
                        <tr>
                            <td>Contabilidad</td>
                            <td>258</td>
                            <td>Cristina Zamudio Enríquez</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Director de organización y métodos</td>
                            <td>265</td>
                            <td>Juan Camilo Pérez Herrera</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Analista de Tesorería</td>
                            <td>257</td>
                            <td>Liseth Natalia Mera</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Analista Contable</td>
                            <td>259</td>
                            <td>Yuli Mora Acosta</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Cre">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Subgerencia de Crédito</td>
                            <td>302</td>
                            <td>Jaime Arteaga Caicedo</td>
                            <td><a href="tel:+3185480894">3185480894</a></td>
                        </tr>
                        <tr class="active-row">
                            <td>Director de Cartera</td>
                            <td>304</td>
                            <td>Lyda Córdoba Agreda</td>
                            <td><a href="tel:+3182822380">3182822380</a></td>
                        </tr>
                        <tr>
                            <td>Auxiliar de Cartera 1</td>
                            <td>303</td>
                            <td>Andrea Imbus Guzmán</td>
                            <td><a href="tel:+3166083519">3166083519</a></td>
                        </tr>
                        <tr>
                            <td>Auxiliar de Cartera 2</td>
                            <td>305</td>
                            <td>Harold Rosero Izquierdo</td>
                            <td><a href="tel:+3168782372">3168782372</a></td>
                        </tr>
                        <tr>
                            <td>Analista Operacional de Riesgo Crediticio</td>
                            <td>306</td>
                            <td>Eduardo Chamorro Villarreal</td>
                            <td><a href="tel:+3160232595">3160232595</a></td>
                        </tr>
                        <tr>
                            <td>Coordinador de Libranza y Convenios</td>
                            <td>307</td>
                            <td>Alba Lucy Betancourt </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Coordinador Fabrica de Crédito</td>
                            <td>308 </td>
                            <td>Noralba Obando Mora</td>
                            <td><a href="tel:+3155501800">3155501800</a></td>
                        </tr>
                        <tr>
                            <td>Analista de Crédito 1</td>
                            <td>309 </td>
                            <td>Angela Rosero Cruz</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Analista de Crédito 2</td>
                            <td>310 </td>
                            <td>Stella Villota Muñoz</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Analista de Crédito 3</td>
                            <td>311 </td>
                            <td>Alejandra Elizabeth Marcillo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Coordinador de Microfinanzas</td>
                            <td>312</td>
                            <td>Cristian Andrés Lopez Zambrano</td>
                            <td><a href="tel:+3165502040">3165502040</a></td>
                        </tr>
                        <tr>
                            <td>Auxiliar de Cartera Administrativa</td>
                            <td>324</td>
                            <td>Fany Santacruz Izquierdo</td>
                            <td><a href="tel:+3174267686">3174267686</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Tic">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SUBGERENCIA TIC</td>
                            <td>315</td>
                            <td>Geovanny Delgado Caicedo</td>
                            <td><a href="tel:+3184018678">3184018678</a></td>
                        </tr>
                        <tr class="active-row">
                            <td>Director Soporte Técnico</td>
                            <td>314</td>
                            <td>Jairo Rojas Tupaz</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mesa de ayuda</td>
                            <td>313</td>
                            <td>Jesús Andrés Cadena Jaramillo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Analista Webmaster</td>
                            <td></td>
                            <td>Robisley Insandará López</td>
                            <td><a href="tel:+3158262250">3158262250</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Sar">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SUBGERENCIA DE RIESGOS</td>
                            <td>254</td>
                            <td>Jorge Salgar Rodriguez </td>
                            <td><a href="tel:+3185177170">3185177170</a></td>
                        </tr>
                        <tr class="active-row">
                            <td>OFICIAL DE CUMPLIMIENTO SARLAFT</td>
                            <td>322</td>
                            <td>Liliana Arturo Castillo</td>
                            <td><a href="tel:+3163844712">3163844712</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Juri">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Asesor Jurídico</td>
                            <td>264</td>
                            <td>Milder Zuleima Matituy Rosero </td>
                            <td></td>
                        </tr>
                        <tr class="active-row">
                            <td>Director de cobranzas</td>
                            <td>319</td>
                            <td>Julian Santiago Delgado</td>
                            <td><a href="tel:+3164738764">3164738764</a></td>
                        </tr>
                        <tr>
                            <td>Abogado Externo</td>
                            <td>320</td>
                            <td>Eyder Jeison Delgado</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Abogado Externo</td>
                            <td>321</td>
                            <td>Ovier Chagueza </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Control">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="mytable-texto" colspan="4">Llamar a <a href="tel:+6027336300">7336300</a> y marcar la respectiva extensión. </th>
                        </tr>
                        <tr style="border-top:1px dashed white;">
                            <th>Cargo</th>
                            <th>Extensión</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dirección Control Interno</td>
                            <td>261</td>
                            <td>Jorge Meneses Gómez </td>
                            <td></td>
                        </tr>
                        <tr class="active-row">
                            <td>Analista de Control de Control Interno</td>
                            <td>262</td>
                            <td>Leydy Daniela Martinez </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Auxiliar de Control Interno</td>
                            <td>262</td>
                            <td>Leydy Daniela Martinez</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
</section>



<style>
    .maps iframe {
        pointer-events: none;
    }
</style>

<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(252,132,4,0.9)" fill-opacity="1" d="M0,64L34.3,74.7C68.6,85,137,107,206,117.3C274.3,128,343,128,411,122.7C480,117,549,107,617,106.7C685.7,107,754,117,823,128C891.4,139,960,149,1029,154.7C1097.1,160,1166,160,1234,138.7C1302.9,117,1371,75,1406,53.3L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</div>

<script>
    const body = document.querySelector("body");
    //console.log(body);
    document.querySelectorAll(".directorio").forEach((item) => {
        item.addEventListener("click", (event) => {
            // console.log(item.id);
            const stringModal = `dialog_${item.id}`;
            // console.log(`#${stringModal}`);
            const modal = document.querySelector(`#${stringModal}`)
            console.log(event)
            modal.showModal();
            body.style.overflow = "hidden";
            document.querySelectorAll(".close-button").forEach((item) => {
                item.addEventListener("click", (event) => {
                    modal.close()
                    body.style.overflow = "auto";
                    // console.log(item.classList.contains("close-button"));
                });
                window.onclick = function (event) {
                    // console.log(event.target);
                    console.log(modal);
                    if (event.target == modal) {
                        modal.close();
                        body.style.overflow = "auto";
                    }
                };
            });
        });
    });
</script>