
@{
    ViewBag.Title = "Directorio";
    ViewBag.titulo = "Directorio Telefónico";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Directorio";

}

<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>

<!-- estilo contenido -->
<style>
    .contenido {
        background-image: url(/img/Img_Web2/background-credito.jpg);
        padding-top: 20px;
        padding-bottom: 50px;
        -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
    }

    #heading-breadcrumbs {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url(../../img/Img_Web2/background_directorio.jpg) center;
        padding: 60px 0;
        /* margin-bottom: 40px; */
    }
</style>
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">



<!-- imagen fondo1-->
@*<img src="~/img/centralcontactos1.png" style="width:1800px; height: 350px;" alt="Contactos" class="img-responsive  center-block">*@


<section>
    <div class="container__Directorio">
        <div id="D_Gere" class="directorio">
            <i class="fas fa-solid fa-building"></i>
            <p>GERENCIA GENERAL</p>
        </div>
        <div id="D_Admin" class="directorio">
            <i class="fas fa-solid fa-list-check"></i>
            <p>SUBGERENCIA ADMINISTRATIVA</p>
        </div>
        <div id="D_Merca" class="directorio">
            <i class="fas fa-solid fa-square-poll-vertical"></i>
            <p>SUBGERENCIA COMERCIAL Y DE MERCADEO</p>
        </div>
        <div id="D_Fina" class="directorio">
            <i class="fas fa-solid fa-hand-holding-dollar"></i>
            <p>SUBGERENCIA FINANCIERA</p>
        </div>
        <div id="D_Cre" class="directorio">
            <i class="fas fa-regular fa-credit-card"></i>
            <p>SUBGERENCIA DE CREDITO Y CARTERA</p>
        </div>
        <div id="D_Tic" class="directorio">
            <i class="fas fa-regular fa-computer"></i>
            <p>SUBGERENCIA TIC</p>
        </div>
        <div id="D_Sar" class="directorio">
            <i class="fas fa-solid fa-circle-radiation"></i>
            <p>SUBGERENCIA DE RIESGOS Y OFICIAL DE  CUMPLIMIENTO SARLAFT</p>
        </div>
        <div id="D_Juri" class="directorio">
            <i class="fas fa-solid fa-scale-balanced"></i>
            <p>
                ASESOR JURIDICO INTERNO
                Y DIRECCIÓN DE COBRANZAS
            </p>
        </div>
        <div id="D_Control" class="directorio">
            <i class="fas fa-regular fa-square-check"></i>
            <p>
                AREA DE CONTROL INTERNO
            </p>
        </div>
    </div>

    @*Inicio de dialogos*@
    <dialog class="modal_Agencias" id="dialog_D_Gere">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <h2>Gerencia General</h2>
                Dra. Esperanza Rojas de Bastidas
                Gerente General
                Extensión 249
            </div>
        </div>
    </dialog>
    <dialog class="modal_container" id="dialog_D_Admin">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal">
            <div class="header_modal">
                <h2>Secretaria Gerencia</h2>
                Alexandra Pantoja Castro Secretaria Gerencia
                Extensión 250
                Cel: 3185358284
                <h2>Talento Humano</h2>
                Viviana Rosero Enriquez Dirección Talento Humano Extensión 251
                cel: 3174758201
                <br />
                Angie Martínez Rosero: Analista de Talento Humano Extensión 252
                <h2>Director de organización y métodos</h2>
                Juan Camilo Pérez Herrera
                Director de organización y métodos
                Extensión 265<br />
                <h2>Gestión Documental</h2>
                Doris Muñoz Casanova
                Gestión Documental
                Extensión 118
                <br />
                <h2>Jefe de Archivo</h2>
                Mercedes Guerrero
                Jefe de Archivo
                Extensión 118
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Merca">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <h2>Subgerencia Comercial</h2>
                Alfredo Paz Delgado
                Subgerencia Comercial
                Extensión 253
                <h2>Alianzas y Segurosl</h2>
                Ana Lucia Enríquez Jiménez Coordinador de Alianzas y Seguros Extensión 260
                Cel: 3160232578
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Fina">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <h2>Subgerencia Financiera</h2>
                Miguel Benavides Gomez
                Subgerencia Financiera
                Extensión 255
                <h2>Tesorería</h2>
                Diana Fajardo Navarro
                Tesorería
                Extensión 256
                <br />
                <h2>Contabilidad</h2>
                Cristina Zamudio Enríquez
                Contabilidad
                Extensión 258
                <br />
                <h2>Analista de Tesorería</h2>
                Liseth Natalia Mera
                Analista de Tesorería
                Extensión 257
                <br />
                <h2>Analista Contable</h2>
                Yuli Mora Acosta
                Analista Contable
                Extensión 259
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Cre">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal">
            <div class="header_modal">
                <h2>Subgerencia de Crédito</h2>
                Jaime Arteaga Caicedo
                Subgerencia de Crédito
                Extensión 302
                Cel: 3185480894
                <h2>Director de Cartera</h2>
                Lyda Córdoba Agreda
                Director de Cartera
                Extensión 304
                Cel: 3182822380
                <h2>Auxiliar de Cartera</h2>
                Andrea Imbus Guzmán
                Auxiliar de Cartera Administrativa 1 Extensión  303
                Cel: 3166083519
                <br />
                Harold Rosero Izquierdo
                Auxiliar de Cartera Administrativa 2 Extensión 305
                Cel: 3168782372
                <h2>Analista Operacional de Riesgo Crediticio</h2>
                Eduardo Chamorro Villarreal  Analista Operacional de Riesgo Crediticio  Extensión 306
                Cel:3160232595
                <h2>Coordinador de Libranza y Convenios</h2>
                Alba Lucy Betancourt
                Coordinador de Libranza y Convenios
                Extensión 307
                <h2>Coordinador Fabrica de Crédito</h2>
                Noralba Obando Mora  Coordinador Fabrica de Crédito Extensión  308
                Cel: 3155501800
                <h2>Analista de Crédito</h2>
                Angela Rosero Cruz
                Analista de Crédito 1
                Extensión  309
                <br />
                Stella Villota Muñoz
                Analista de Crédito 2
                Extensión  310
                <br />
                Alejandra Elizabeth Marcillo
                Analista de Crédito 3
                Extensión 311
                <h2>Coordinador de Microfinanzas</h2>
                Cristian Andrés Lopez Zambrano Coordinador de Microfinanzas
                Extensión 312
                Cel: 3165502040
                <h2>Auxiliar de Cartera Administrativa</h2>
                Fany Santacruz Izquierdo
                Auxiliar de Cartera Administrativa  Extensión 324
                Cel: 3174267686
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Tic">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal">
            <div class="header_modal">
                <h2>SUBGERENCIA TIC</h2>
                Geovanny Delgado Caicedo Director Base de Datos  Extensión 315
                Cel: 3184018678
                <h2>Director Soporte Técnico</h2>
                Jairo Rojas Tupaz
                Director Soporte Técnico
                Extensión 314
                <h2>Mesa de ayuda</h2>
                Jesús Andrés Cadena Jaramillo Agente de Contacto-Mesa de ayuda Extensión 313
                <h2>Robisley Insandará López</h2>
                Robisley Insandará López
                Analista Webmaster
                Cel:3158262250
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Sar">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <h2>SUBGERENCIA DE RIESGOS</h2>
                Jorge Salgar Rodriguez
                Subgerencia de Riesgos
                Extensión 254
                Cel: 3185177170
                <h2>OFICIAL DE  CUMPLIMIENTO SARLAFT</h2>
                Liliana Arturo Castillo
                Oficial de Cumplimiento
                Extensión 322
                Cel: 3163844712
            </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Juri">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                    <h2>Asesor Jurídico</h2>
                    Milder Zuleima Matituy Rosero
                    Asesor Jurídico
                    Extensión 264
                    <h2>Director de cobranzas</h2>
                    Julian Santiago Delgado
                    Director de cobranzas
                    Extensión 319
                    Cel: 3164738764
                    <h2>Abogado Externo</h2>
                    Eyder Jeison Delgado
                    Abogado Externo
                    Extensión 320
                    <br />
                    Ovier Chagueza
                    Abogado Externo
                    Extensión 321
                </div>
        </div>
    </dialog>
    <dialog class="modal_Agencias" id="dialog_D_Control">
        <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
        <div class="container__Modal_2">
            <div class="header_modal">
                <h2>Dirección Control Interno</h2>
                Jorge Meneses Gómez
                Dirección Control Interno
                Extensión 261
                <h2>Analista de Control de Control</h2>
                Leydy Daniela Martinez
                Analista de Control de Control Interno
                Extensión 262
                <h2>Auxiliar de Control Interno</h2>
                Leydy Daniela Martinez
                Analista de Control de Control Interno
                Extensión 262
            </div>
        </div>
    </dialog>
</section>



<style>
    .maps iframe {
        pointer-events: none;
    }
</style>

<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,64L34.3,74.7C68.6,85,137,107,206,117.3C274.3,128,343,128,411,122.7C480,117,549,107,617,106.7C685.7,107,754,117,823,128C891.4,139,960,149,1029,154.7C1097.1,160,1166,160,1234,138.7C1302.9,117,1371,75,1406,53.3L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</div>

<script>
    const body = document.querySelector("body");
    //console.log(body);
    document.querySelectorAll(".directorio").forEach((item) => {
        item.addEventListener("click", (event) => {
            // console.log(item.id);
            const stringModal = `dialog_${item.id}`;
            // console.log(`#${stringModal}`);
            const modal = document.querySelector(`#${stringModal}`)
            console.log(event)
            modal.showModal();
            body.style.overflow = "hidden";
            document.querySelectorAll(".close-button").forEach((item) => {
                item.addEventListener("click", (event) => {
                    modal.close()
                    body.style.overflow = "auto";
                    // console.log(item.classList.contains("close-button"));
                });
                window.onclick = function (event) {
                    // console.log(event.target);
                    console.log(modal);
                    if (event.target == modal) {
                        modal.close();
                        body.style.overflow = "auto";
                    }
                };
            });
        });
    });
</script>