
@{
    ViewBag.Title = "Directorio";
    ViewBag.titulo = "Directorio Telefónico";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Directorio";

}

<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>

<!-- estilo contenido -->
<style>
    .contenido {
        background-image: url(/img/Img_Web2/background-credito.jpg);
        padding-top: 20px;
        padding-bottom: 50px;
        -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
    }
</style>
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">



<!-- imagen fondo1-->
<img src="~/img/centralcontactos1.png" style="width:1800px; height: 350px;" alt="Contactos" class="img-responsive  center-block">

@*<div class="parallaxbox" id="pb0" style="background-image: url('//img/fondos/multiportal1.jpg');"> </div>*@
<!-- contenido-->
@*<a href="https://www.cofinal.com.co/Home/Contact">Contactanos</a>*@

<section id="aso" class="bar background-white no-mb" style="display:none">
    <div class="container">
        <div class="row">


            <div class="heading text-center" style="margin-bottom:10px;padding-top:10px;">
                <h4>DIRECTORIO DE FUNCIONARIOS ADMINISTRACIÓN CENTRAL </h4>
            </div>


            <table style="margin: 0 auto;">

                <tr>
                    <th>CARGO</th>
                    <th>EXTENSIÓN</th>
                </tr>
                <tr>
                    <td>Archivo</td>
                    <td>118</td>
                </tr>
                <tr>
                    <td>Porteria</td>
                    <td>119</td>
                </tr>
                <tr>
                    <td>Gerencia general</td>
                    <td>249</td>
                </tr>
                <tr>
                    <td>Secretaria Gerencia</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>Dirección Talento Humano</td>
                    <td>251</td>
                </tr>
                <tr>
                    <td>Auxiliar Talento Humano</td>
                    <td>252</td>
                </tr>
                <tr>
                    <td>Subgerencia Comercial</td>
                    <td>253</td>
                </tr>
                <tr>
                    <td>Subgerencia de Riesgos</td>
                    <td>254</td>
                </tr>
                <tr>
                    <td>Subgerencia Financiera y Contable</td>
                    <td>255</td>
                </tr>
                <tr>
                    <td>Tesoreria</td>
                    <td>256 </td>
                </tr>
                <tr>
                    <td>Auxiliar de Tesoreria</td>
                    <td>257</td>
                </tr>
                <tr>
                    <td>Contabilidad</td>
                    <td>258</td>
                </tr>
                <tr>
                    <td>Auxiliar de Contable</td>
                    <td>259</td>
                </tr>
                <tr>
                    <td>Alianzas y Seguros</td>
                    <td>260</td>
                </tr>
                <tr>
                    <td>Direccion Control Interno</td>
                    <td>261</td>
                </tr>
                <tr>
                    <td>Analista de Control Interno </td>
                    <td>262</td>
                </tr>
                <tr>
                    <td>Auxiliar de Auditoria interna </td>
                    <td>263</td>
                </tr>
                <tr>
                    <td>Asesoria Juridica</td>
                    <td>264</td>
                </tr>
                <tr>
                    <td>Organización y Métodos </td>
                    <td>265</td>
                </tr>
                <tr>
                    <td>Fundación Cofinal</td>
                    <td>266</td>
                </tr>
                <tr>
                    <td>Revisoría Fiscal</td>
                    <td>267</td>
                </tr>
                <tr>
                    <td>Subgerencia de Riesgo Crediticio </td>
                    <td>302</td>
                </tr>
                <tr>
                    <td>Auxiliar Cartera 1</td>
                    <td>303</td>
                </tr>
                <tr>
                    <td>Dirección Cartera</td>
                    <td>304</td>
                </tr>
                <tr>
                    <td>Auxiliar Cartera 2</td>
                    <td>305</td>
                </tr>
                <tr>
                    <td>Auxiliar Cartera 3</td>
                    <td>306</td>
                </tr>
                <tr>
                    <td>Auxiliar de Libranza y Convenios</td>
                    <td>307</td>
                </tr>
                <tr>
                    <td>Analista de Crédito 1</td>
                    <td>308</td>
                </tr>
                <tr>
                    <td>Analista de Crédito 2</td>
                    <td>309</td>
                </tr>
                <tr>
                    <td>Analista de Crédito 3</td>
                    <td>310</td>
                </tr>
                <tr>
                    <td>Analista de Crédito 4</td>
                    <td>311</td>
                </tr>
                <tr>
                    <td>Dirección Microcrédito</td>
                    <td>312</td>
                </tr>
                <tr>
                    <td>Mesa de ayuda</td>
                    <td>313</td>
                </tr>
                <tr>
                    <td>Director Infraestructura y Soporte Técnico</td>
                    <td>314</td>
                </tr>
                <tr>
                    <td>Subgerencia Tecnología</td>
                    <td>315</td>
                </tr>
                <tr>
                    <td>Dirección de Cobranza </td>
                    <td>319</td>
                </tr>
                <tr>
                    <td> Abogado externo 1</td>
                    <td>320</td>
                </tr>
                <tr>
                    <td>Abogado externo 2</td>
                    <td>321</td>
                </tr>
                <tr>
                    <td>Oficial de Cumplimiento</td>
                    <td>322</td>
                </tr>
                <tr>
                    <td>Auditor 2</td>
                    <td>323</td>
                </tr>
                <tr>
                    <td>Referenciación</td>
                    <td>324</td>
                </tr>

            </table>




            <style>
                /* Curso CSS estilos aprenderaprogramar.com*/
                body {
                    font-family: Arial, Helvetica, sans-serif;
                }

                table {
                    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                    font-size: 18px;
                    margin: 45px;
                    width: 650px;
                    text-align: center;
                    border-collapse: collapse;
                }

                th {
                    font-size: 20px;
                    font-weight: normal;
                    text-align: center;
                    padding: 8px;
                    background: #ff852d;
                    border-top: 4px solid #d56506;
                    border-bottom: 1px solid #fff;
                    color: #ffffff;
                }

                td {
                    padding: 8px;
                    background: #FFB987;
                    border-bottom: 1px solid #fff;
                    color: #373737;
                    border-top: 1px solid transparent;
                }

                tr:hover td {
                    background: #d56506;
                    color: #000000;
                }
            </style>



        </div>

    </div>

</section>

<section>
    <div class="tab-content" style="background-color: rgba(255, 255, 255, 0.8);">
        <div class="tab-pane active" id="nar_Agencia">
            <div class="container__Agencias">
                <div id="Pasto" class="agencias agencia_2">
                    <img src="https://www.cideu.org/wp-content/uploads/Pasto5.jpg" />
                    <p>GERENCIA GENERAL</p>
                </div>
                <div id="Sandona" class="agencias agencia_2">
                    <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    <p>SUBGERENCIA FINANCIERA</p>
                </div>
                <div id="Ipiales" class="agencias agencia_2">
                    <img src="https://situr.narino.gov.co/storage/Clientes/situr_narino/principal/imagenes/contenidos/19-19_Parque_20_de_Julio_y_Catedral_de_Ipiales.JPG" />
                    <p>SUBGERENCIA COMERCIAL Y DE MERCADEO</p>
                </div>
                <div id="Consaca" class="agencias agencia_2">
                    <img src="https://cdn.municipios.com.co/fotos/755-2017-11-25-17-06-913-L.jpg" />
                    <p>SUBGERENCIA DE CRÉDITO</p>
                </div>
                <div id="Buesaco" class="agencias agencia_2">
                    <img src="https://colombiaextraordinaria.com/somos_colombia/external/img/img_departamentos/Buesacoimagen_ce.jpg" />
                    <p>SUBGERENCIA DE TICS</p>
                </div>
                <div id="Taminango" class="agencias agencia_2">
                    <img src="https://www.viajarenverano.com/wp-content/uploads/2017/01/LaCalidosaFM.png" />
                    <p>SUBGERENCIA DE RIESGOS</p>
                </div>
            </div>

            @*Inicio de dialogos*@
            <dialog class="modal_Agencias" id="dialog_Pasto">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>Pasto</h2>
                        <img src="https://www.cideu.org/wp-content/uploads/Pasto5.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">
                        <iframe class="img2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9160578226433!2d-77.28225128580804!3d1.2185285623241011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed487375d6129%3A0x75d762a9f2c9e3da!2sCOFINAL!5e0!3m2!1ses!2sit!4v1454678597238" frameborder="0" style="border: 0;" allowfullscreen></iframe>
                    </div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Sandona">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>Sandona</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">
                        <iframe class="img2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9160578226433!2d-77.28225128580804!3d1.2185285623241011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed487375d6129%3A0x75d762a9f2c9e3da!2sCOFINAL!5e0!3m2!1ses!2sit!4v1454678597238" frameborder="0" style="border: 0;" allowfullscreen></iframe>
                    </div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Ipiales">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>Ipiales</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Consaca">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>CONSACÁ</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Buesaco">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>BUESACO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Taminango">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>TAMINANGO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Union">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>LA UNION</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Tumaco">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>TUMACO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Linares">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>LINARES</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>


            <dialog class="modal_Agencias" id="dialog_Ancuya">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>ANCUYA</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Tuquerres">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>TUQUERRES</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Gualmatan">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>GUALMATAN</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Guachucal">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>GUACHUCAL</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Tambo">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>EL TAMBO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Spablo">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>SAN PABLO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Lorenzo">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>LORENZO DE ALDANA - PASTO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Lorenzo">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>LORENZO DE ALDANA - PASTO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Alban">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>SAN JOSE DE ALBAN</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Slorenzo">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>SAN LORENZO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Cumbal">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>CUMBAL</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Bernardo">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>SAN BERNARDO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Penol">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>EL PEÑOL</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Florida">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>LA FLORIDA</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Narino">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>NARIÑO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Samaniego">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>SAMANIEGO</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Cruz">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>LA CRUZ</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Altamira">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>ALTAMIRA</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Chachagui">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>CHACHAGUI</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>

            <dialog class="modal_Agencias" id="dialog_Popayan">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>POPAYÁN</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>
            <dialog class="modal_Agencias" id="dialog_Mercaderes">
                <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                <div class="container__Modal">
                    <div class="header_modal">
                        <h2>MERCADERES</h2>
                        <img src="http://www.cafeoccidente.co/images/paisajes/sandona.jpg" />
                    </div>
                    <p>
                        <strong>Dirección: </strong><br>
                        Calle 5ta. No. 03-77<br>
                        <strong>Telefono: </strong><br>
                        Teléfono: 7336300 Extensiones: 200 - 201<br>
                        <strong>Horario de Atencion: </strong>
                        Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                    </p>
                    <div class="imagen_Google">GOOGLE MAPS</div>
                </div>
            </dialog>
        </div>
    </div>
</section>

<style>
    .maps iframe {
        pointer-events: none;
    }
</style>

<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,64L34.3,74.7C68.6,85,137,107,206,117.3C274.3,128,343,128,411,122.7C480,117,549,107,617,106.7C685.7,107,754,117,823,128C891.4,139,960,149,1029,154.7C1097.1,160,1166,160,1234,138.7C1302.9,117,1371,75,1406,53.3L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</div>


<!--<div class='embed-container  maps'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9160578226433!2d-77.28225128580804!3d1.2185285623241011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed487375d6129%3A0x75d762a9f2c9e3da!2sCOFINAL!5e0!3m2!1ses!2sit!4v1454678597238" height="350" frameborder="0" style="border: 0; width: 100%;" allowfullscreen></iframe>
</div>-->
<!-- scrip para parallax-->
@*<script type="text/javascript">
    function parallax() {
        setpos("#pb0");
        setpos("#pb1");

    }



    function setpos(element, factor) {
        factor = factor || 2;

        var offset = $(element).offset();
        var w = $(window);

        var posx = (offset.left - w.scrollLeft()) / factor;
        var posy = (offset.top - w.scrollTop()) / factor;

        $(element).css('background-position', '100% ' + posy + 'px');

        // use this to have parralax scrolling vertical and horizontal
        //$(element).css('background-position', posx+'px '+posy+'px');
    }

    $(document).ready(function () {
        parallax();
    }).scroll(function () {
        parallax();
    });
</script>*@

<script>
    const body = document.querySelector("body");
    //console.log(body);
    document.querySelectorAll(".agencias").forEach((item) => {
        item.addEventListener("click", (event) => {
            // console.log(item.id);
            const stringModal = `dialog_${item.id}`;
            // console.log(`#${stringModal}`);
            const modal = document.querySelector(`#${stringModal}`)
            console.log(event)
            modal.showModal();
            body.style.overflow = "hidden";
            document.querySelectorAll(".close-button").forEach((item) => {
                item.addEventListener("click", (event) => {
                    modal.close()
                    body.style.overflow = "auto";
                    // console.log(item.classList.contains("close-button"));
                });
                window.onclick = function (event) {
                    // console.log(event.target);
                    console.log(modal);
                    if (event.target == modal) {
                        modal.close();
                        body.style.overflow = "auto";
                    }
                };
            });
        });
    });
</script>







