
@{
    ViewBag.Title = "Fundación cofinal";
    ViewBag.titulo = "Funcofinal";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "fundacionActivo";
}
<section style="background-image:url(/img/recortada.jpg); background-attachment: fixed;  background-size: cover; padding-top:20px; margin-top:-40px; margin-bottom:0px; padding-bottom:40px;">

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <!-- *** MENUS AND WIDGETS ***
                _________________________________________________________ -->

                <div class="panel panel-default sidebar-menu with-icons" style="background-color: rgba(255, 255, 255, 0.8);">


                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">                        
                            <li>
                                <div class="panel-heading" style="text-align:center; margin-top:11px;">
                                    <h5 class="panel-title">Servicios Ofrecidos</h5>
                                </div>
                            </li>
                            <li>
                                <a href="#educacion" data-toggle="pill">Educación</a>
                            </li>
                            <li>
                                <a href="#turismo" data-toggle="pill">Turismo social</a>
                            </li>
                            <li>
                                <a href="#vivienda" data-toggle="pill">Proyectos de vivienda</a>
                            </li>
                            <li>
                                <a href="#convenios" data-toggle="pill">Convenios</a>
                            </li>
                            <li>
                                <a href="#otrosServicios" data-toggle="pill">Otros servicios</a>
                            </li>
                            <li style="visibility: hidden;" class="active">
                                <a href="#fundacinCofi" data-toggle="pill">¿Que es la fundación Cofinal?</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END *** -->
            </div>
            <div class="tab-content col-md-9" style="background-color: rgba(255, 255, 255, 0.8);">

                <div class="tab-pane active" id="fundacinCofi">
                    <img src="~/img/fundacion.jpg" class="img-responsive" />
                    <br />
                    <p class="text-justify">
                       
                    </p>
                    <h4>¿Quienes Somos?</h4>
                    <p class="text-justify">
                        FUNCOFINAL: Es una organización sin animo de lucro que impulsa el desarrollo del modelo solidario y
                        cooperativo en los ambitos social, amibiental y empresarial en el suroccidente
                        Colombiano.
                    </p>
                    <h4>Reseña histórica</h4>
                    <p class="text-justify">
                        La Fundación Cofinal nace frente a la necesidad de crear una entidad que se encargue
                        de impartir educación cooperativa a todos los niveles de las organizaciones solidarias
                        del sur-occidente del país, educación que permita actuar con eficiencia y eficacia
                        en procesos administrativos y operativos, fortaleciendo de esta manera la economía
                        solidaria de esta región del país.
                    </p>
                    <h4>Misión</h4>
                    <p class="text-justify">
                       <strong>FUNCOFINAL</strong> 
                        Es el motor de desarrollo social, empresarial, educativo, ambiental, deportivo y recreativo, 
                        principalmente de nuestros asociados y tambien de la comunidad donde la cooperativa Cofinal
                        hace presencia, somos generadores de soluciones a través del portafolio social integral para
                        el sector solidario y demas sectores de la economía.
                    </p>
                    <h4>Visión</h4>
                    <p class="text-justify">
                        En el año 2009 FUNCOFINAL, fortalecerá la gestión Cooperativa de COFINAL y su base social, 
                        entregará en el suroccidente colombiano un portafolio social integralen PRO del binestar de
                        las personasy el desarrollo de las empresas con quien tenga relación.
                    </p>
                </div>

                <div class="tab-pane" id="educacion">
                    <div class="panel-group accordion" id="accordionThree">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">
                                        CURSOS Y DIPLOMADOS
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3a" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                                                <li>Cursos de Cooperativismo nivel básico, intermedio y avanzado.</li>
                                                <li>Cursos de Cooperativismo con énfasis en Cooperativas de Trabajo Asociado.</li>
                                                <li>Cursos Cooperativismo con Énfasis en Fondos de Empleados.</li>
                                                <li>Curso de Emprendimiento y Liderazgo.</li>
                                                <li></li>
                                                <li>
                                                    Acompañamiento a procesos de conformación y legalización de organizaciones de
                                                    economía solidaria y entidades solidarias de desarrollo.
                                                </li>
                                                <li>Seminario de Educación Financiera.</li>
                                                <li>Seminario sobre Atención y Servicio al Cliente en las Empresas.</li>
                                                <li>Seminario para el Mejoramiento de las Ventas.</li>
                                                <li>Diplomado en Gestión de las organizaciones solidarias y sus políticas públicas.</li>
                                                <li>Diplomado en Gestión Cooperativa y Desarrollo del Talento Humano.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">
                                        Seminarios
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3b" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>La excelencia en el servicio como ventaja diferencial</h4>
                                            <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                                                <li>
                                                    Dar a conocer la importancia de brindar un excelente servicio al asociado,
                                                    que le sirva a las empresas como ventaja diferencial
                                                </li>
                                                <li>Mejorar la comunicación con los asociados en la presentación de beneficios y soluciones.</li>
                                                <li>Suministrar las herramientas necesarias para poder desarrollar un adecuado manejo de momentos de verdad que permita mantener satisfechos a los asociados.</li>
                                                <li>Revisar las actitudes y aptitudes que se requieren para brindar un óptimo servicio al asociado.</li>
                                                <li>
                                                    Capacitar a los participantes para manejar las situaciones que se presentan
                                                    frente a los diferentes tipos de asociados con los cuales tengan contacto permanente.
                                                </li>
                                            </ul>
                                            <h4>Generación de valor agregado a través de la estrategia de servicio</h4>
                                            <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                                                <li>Visión integral del servicio y generación de valor agregado.</li>
                                                <li>Características de las entidades orientadas al servicio.</li>
                                                <li>La cultura de servicio.</li>
                                                <li>Liderando la cultura de servicio.</li>
                                                <li>Gestión estratégica del servicio.</li>
                                            </ul>
                                            <h4>Como lograr mayor efectividad en las ventas</h4>
                                            <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                                                <li>
                                                    Ayudar a los participantes a planear, organizar, ejecutar y controlar su
                                                    esquema de ventas, para lograr mejores resultados.
                                                </li>
                                                <li>
                                                    Desarrollar habilidades que permitan mejorar el contacto con los asociados,
                                                    la averiguación de necesidades y expectativas, la argumentación del portafolio
                                                    de productos y servicios, el manejo de objeciones y las técnicas de cierre.
                                                </li>
                                                <li>
                                                    Mejorar la comunicación con los diferentes tipos de asociados en la
                                                    presentación de beneficios y soluciones que sirvan de soporte a la vinculación,
                                                    crecimiento y profundización de asociados.
                                                </li>
                                            </ul>
                                            <h4>Escuela de formación artística</h4>
                                            <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                                                <li>Escuela de música para niños y jóvenes.</li>
                                                <li>Escuela de danzas para niños y jóvenes.</li>
                                            </ul>
                                            <h4>Escuela de futbol (Alianza con comité educación de Cofinal)</h4>
                                            <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                                                <li>Convenio con la escuela de futbol del Deportivo Pasto – apoyamos nuestra región.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        
                    </div>
                </div>

                    <div class="tab-pane" id="turismo">
                        <h4>Turismo social (Diseñamos planes especiales para grupos)</h4>
                        <p style="text-align:justify">
                            <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                                <li>Planes Turísticos regionales, nacionales e internacionales.</li>
                                <li>Caminatas y Paseos Ecológicos.</li>
                                <li>Convenio con Hoteles Decameron.</li>
                                <li>FunCofinal facilita el ACCESO al crédito a los asociados de Cofinal.</li>
                            </ul>
                    </div>
                    <div class="tab-pane" id="vivienda">
                        <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                            <li>Construcción y desarrollo de proyectos de vivienda.</li>
                            <li>Asesoría en trámites de subsidio para adquisición de vivienda.</li>
                            <li>Ahorro programado para adquisición de vivienda – Alianza con la cooperativa COFINAL.</li>
                            <li>Asesoría para la legalización de propiedad de la vivienda.</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="convenios">
                        <h4>Convenios interadministrativos con entidades oficiales y privadas</h4>
                        <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                            <li>Proyecto de Vivienda           </li>
                            <li>Elaboración y presentación de proyectos a entidades públicas,  privadas y ONG´s.</li>
                            <li>Ejecución de Proyectos Productivos y Sociales.</li>
                            <li>Interventoría de Proyectos.</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="otrosServicios">
                        <h4>Cursos (alianza con comité educación de Cofinal) </h4>
                        <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                            <li>Pintura.</li>
                            <li>Caricatura.</li>
                            <li>Manualidades.</li>
                        </ul>
                        <h4>Asesorías profesionales </h4>
                        <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                            <li>Asesorías contables para cooperativas.</li>
                            <li>Asesorías en crédito y control de cartera en entidades de economía solidaria.</li>
                        </ul>
                        <h4>Terapias sicológicas</h4>
                        <ul style="list-style-image: url(/img/viñeta.png);" class="text-justify">
                            <li>Terapias empresariales.</li>
                            <li>Terapias Grupales.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- /.container -->
