@{
    Layout = "~/Views/Shared/layoutAso.cshtml";
   
    ViewBag.titulo = "Asociado";
   
}
<style>
    #contenido{
        background-image:url(/img/Logos/cofinalFondo.png);
        margin-top: -40px;
        padding-top: 40px;
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
    #titulo {
        background-image: url(/img/barra.jpg);
        background-size: 30%;
    }
    #get-it {
        background: -webkit-linear-gradient(left, rgba(216,65,65,0.99) 0%, rgba(216,65,65,0.89) 49%, rgba(213,195,195,0.81) 90%, rgba(213,195,195,0.79) 100%);
        text-align: left;
        -webkit-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        -moz-box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        box-shadow: 1px 9px 98px -12px rgba(17,18,18,1);
        padding: 50px 0 30px;
        color: #fff;
        text-align: center;
        margin-top: -40px;
    }
</style>
<!-- div titulo-->
<div id="titulo">
    <div id="get-it">
        <div class="container">
            <div class="text-center">
                <h1>Bienvenido al portal cofinal</h1>
            </div>

        </div>
    </div>
</div>
<!--contenido-->
 <section  id="contenido">
    <div class="container" >
        <div class="row">
            <!-- Card Projects -->
            <div class="col-md-6 col-md-offset-3">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="~/img/bienven.jpg" style="margin-left: auto;  margin-right: auto;">
                      
                        <hr />
                    </div>
                  
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <a href="~/Asociado/Details"><i class="fa fa-credit-card"></i></a>
                                </div>
                                <h3>Movimiento de Cuenta</h3>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <a href="~/CExtractos/Details"><i class="fa fa-area-chart"></i></a>
                                </div>
                                <h3>Extracto crédito</h3>
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <a href="~/Formapago/Index"><i class = "fa fa-external-link" aria-hidden = "true" ></i></a>
                                </div>
                                <h3>Reporte Pago</h3>
                            </div>
                        </div>


                        </div>

                </div>
            </div>
        </div>
    </div>
</section> 
<!-- div -->
<div id="titulo">
    <div id="get-it">
        <div class="container">
            <div class="text-center">
               
            </div>

        </div>
    </div>
</div>