
@{
    ViewBag.Title = "Multiportal";
    ViewBag.titulo = "Multiportal Transaccional";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Multiportal";

}

<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>

<!-- estilo contenido -->
<style>
    .contenido {
        background-image: url(/img/texture-bw.png);
        padding-top: 20px;
        padding-bottom: 50px;
        -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
    }
    #heading-breadcrumbs {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/Img_Web2/background_multi.jpg) center;

        padding: 60px 0;
        /* margin-bottom: 40px; */
    }
</style>
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">
<style>
    #misio {
        padding-bottom: 1px;
        background: #da4d4d;
    }

    #an {
        color: black;
        font-size: 20px;
    }

    #resena, #visio, #quienS {
        padding-bottom: 1px;
        background: #da4d4d;
    }

    .text-justify {
        font-size: 18px;
    }
    .mb-2 {
        margin-bottom: 2em;
    }
    .mb-4 {
        margin-bottom: 4em;
    }
    .p-2 {
        padding: 1.5em;
    }
    .row-flex {
        display: flex;
        justify-content: center;
    }
</style>
<!-- imagen fondo1-->
@*<img src="~/Imagenes/multiportal1.jpg" style="width:1300px; height: 300px;" alt="Multiportal" class="img-responsive  center-block">*@
@*<div class="parallaxbox" id="pb0" style="background-image: url('//img/fondos/multiportal1.jpg');"> </div>*@
<!-- contenido-->
<section class="imagen_directorio">
    <img src="~/img/Img_Web2/portal.png" alt="Numero principal: 7366087" />
</section>
<section id="aso" class="bar background-white no-mb" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7" style="background-color:white;display:none">
                <div class="heading text-center" style="margin-bottom:10px;padding-top:10px;">
                    <h4>¿QUE ES EL MULTIPORTAL TRANSACCIONAL? </h4>
                </div>

                <p class="mb-small text-justify" style="font-size:19px;">
                    El Portal Transaccional y/o Banca Móvil son canales electrónicos virtuales para personas naturales
                    o jurídicas, a través de los cuales los Asociados de la cooperativa, pueden administrar integralmente
                    sus productos y realizar transacciones financieras con facilidad y agilidad desde cualquier lugar, las
                    24 horas al día, durante los 365 días del año, con altos estándares de tecnología, seguridad y calidad.

                </p>

                <p class="mb-small text-justify" style="font-size:19px;">
                    <strong>BENEFICIOS DEL ASOCIADO</strong>
                </p>

                <ul class="mb-small text-justify" style="font-size:19px;">
                    <li>Permite realizar operaciones las 24 horas al día, los 7 días a la semana, desde cualquier equipo electrónico con acceso a internet.</li>
                    <li>Obtener información de sus productos y saldos de manera consolidada.</li>
                    <li>Monitoreo permanente de sus operaciones.</li>
                    <li>Permite realizar los pagos de servicios públicos a través de botón PSE.</li>
                </ul>

                <p class="mb-small text-justify" style="font-size:19px;">
                    <strong>REQUISITOS POR PARTE DEL ASOCIADO PARA EL ACCESO</strong>
                </p>

                <ul class="mb-small text-justify" style="font-size:19px;">
                    <li>El correo electrónico que registro cuando realizo la apertura de la cuenta, de lo contrario deberá actualizar el correo electrónico en las oficinas de Cofinal.</li>
                    <li>El número del teléfono celular registrado en la base de datos.</li>
                    <li>Para asociados persona jurídica, solicitar el servicio.</li>
                </ul>

                <p class="mb-small text-justify" style="font-size:19px;">
                    <strong>RECOMENDACIONES DE SEGURIDAD PARA EL ASOCIADO</strong>
                </p>

                <ul class="mb-small text-justify" style="font-size:19px;">
                    <li>El Asociado debe velar por el uso y resguardo de sus claves personales y procurar realizar sus operaciones y/o transacciones desde equipos seguros.</li>
                    <li>El Asociado es responsable de tomar las medidas de seguridad necesarias para prevenir virus y/o otros actores nocivos que circulan por Internet en los equipos y/o celular que el Asociado utilice.</li>
                    <li>Nunca ingrese a través de enlaces en correos electrónicos falsos (phishing), que puedan llevarle a sitios fraudulentos. Recuerde que COFINAL no solicita información confidencial por este medio.</li>
                    <li>El Asociado verificará la información antes de realizar sus operaciones y/o transacciones para evitar inconsistencias toda vez que los registros electrónicos que se generen bajo la clave, y/o seguridades adicionales, serán prueba de sus operaciones y/o transacciones. Es responsabilidad del Asociado verificar la exactitud de la información que suministre para hacer uso de los servicios del Portal Transaccional, tales como números de cuenta, números de recibos, valor de los recibos, entre otros.</li>
                    <li>Cambiar su clave cada vez que el sistema lo alerte. De igual forma la podrá modificar en cualquier momento.</li>
                    <li>Nunca preste su cuenta para recibir fondos cuyo origen usted desconoce.</li>
                    <li>Una vez termine las transacciones, asegúrese de cerrar sesión en el Multiportal Transaccional para evitar que otros ingresen a ella.</li>
                </ul>
            </div>

            <div class="col-12 col-lg-5">
                <div class="row mb-4 ">
                    <div class="col-sm-12 mb-2 row-flex">
                        <img src="~/img/natural.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-6 p-2 row-flex">
                        <a href="https://multiportal.redcoopcentral.com/integracion/multiportal/Enrolamiento/?entidad=00000117">
                            <img src="~/img/naturegistrate.png" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 p-2 row-flex">
                        <a href="https://multiportal.redcoopcentral.com/multiportalvisio/Login/Index?ENTIDAD=00000117">
                            <img src="~/img/natuiniciar.png" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-12 mb-2 row-flex">
                        <img src="~/img/juridica.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-6 p-2 row-flex">
                        <a href="https://portaljuridico.redcoopcentral.com:8445/integracionJuridico/multiportal/enrolamiento/?entidad=00000117">
                            <img src="~/img/juridicaregistrate.png" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 p-2 row-flex">
                        <a href="https://portaljuridico.redcoopcentral.com:8445/portalJuridico">
                            <img src="~/img/juridcaiiniciar.png" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container__multi">
    @*<div class="container__header_multi">
        <h3>Portal Transaccional</h3>
        <p>Realice transacciones de forma facil y segura</p>
    </div>*@
    <div class="container__main__multi">
            <h2>Persona Natural</h2>
        <div class="big__container__multi">
            <div class="container_personaNatural">
                <i class="fa-solid fa-computer"></i>
                <div>
                    <h4>Portal <br /> Transaccional</h4>
                    <a href="https://multiportal.redcoopcentral.com/multiportalvisio/Login/Index?ENTIDAD=00000117"
                       class="myButtons">Ingresar</a>
                </div>
            </div>
            <div class="container_personaNatural">
                <i class="fa-regular fa-address-card"></i>
                <div>
                    <h4>Si no es usuario en el <br />portal transaccional</h4>
                    <a href="https://multiportal.redcoopcentral.com/integracion/multiportal/Enrolamiento/?entidad=00000117"
                       class="myButtons">Regístrese aquí.</a>
                </div>
            </div>
        </div>
            <h2>Persona Juridica</h2>
        <div class="big__container__multi">
            <div class="container_personaNatural">
                <i class="fa-solid fa-computer"></i>
                <div>
                    <h4>Portal <br /> Transaccional</h4>
                    <a href="https://portaljuridico.redcoopcentral.com:8445/portalJuridico"
                       class="myButtons">Ingresar</a>
                </div>
            </div>
            <div class="container_personaNatural">
                <i class="fa-regular fa-address-card"></i>
                <div>
                    <h4>Si no es usuario en el <br />portal transaccional</h4>
                    <a href="https://portaljuridico.redcoopcentral.com:8445/integracionJuridico/multiportal/enrolamiento/?entidad=00000117"
                       class="myButtons">Regístrese aquí.</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section style=" margin-bottom: 0px;display:none">
    <div align="center">
        <div class="heading text-center" style="margin-bottom:10px;padding-top:10px;">
            <h4>INSTRUCTIVOS PARA EL INGRESO AL MULTIPORTAL</h4>
        </div>
    </div>
    @*Estilos para los videos*@
    <style>
        .container-multimedia {
            padding: 1em;
        }

            .container-multimedia iframe {
                width: 100%;
                min-height: 260px;
                border-radius: 20px;
                border: none;
            }
    </style>

    <div class="container py-cofinal">
        <div class="row">

            <div class="col-12 col-md-6 my-2 h-100">
                <div class="container-multimedia">
                    @*Video Bienvenida*@
                    <iframe src="https://www.youtube.com/embed/FB3RdPlceT0?rel=0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 col-md-6 my-2 h-100">
                <div class="container-multimedia">
                    @*Video Registro Multiportal*@
                    <iframe src="https://www.youtube.com/embed/IjLKvxpJoyk?rel=0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 col-md-6 my-2 h-100">
                <div class="container-multimedia">
                    @*Video Registro PSE*@
                    <iframe src="https://www.youtube.com/embed/JBrgyl0ouGI?rel=0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 col-md-6 my-2 h-100">
                <div class="container-multimedia">
                    @*Video Pago de Factura*@
                    <iframe src="https://www.youtube.com/embed/vZgtiufwg70?rel=0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 col-md-6 my-2 h-100">
                <div class="container-multimedia">
                    @*Video Consulta Movimiento*@
                    <iframe src="https://www.youtube.com/embed/87W_GzufUto?rel=0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 col-md-6 my-2 h-100">
                <div class="container-multimedia">
                    @*Video Consulta Movimiento*@
                    <iframe src="https://www.youtube.com/embed/m__EgZa2I-I?rel=0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
    </section>
    <div class="container-fluid" style="margin-bottom: -6px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,64L60,90.7C120,117,240,171,360,165.3C480,160,600,96,720,101.3C840,107,960,181,1080,181.3C1200,181,1320,107,1380,69.3L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </div>
<style>
    .maps iframe {
        pointer-events: none;
    }
</style>









