@{
    ViewBag.Title = "Noticias";
    ViewBag.titulo = "Ganadores - Prepara tus Maletas";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Noticias";
}

<section class="imagen_baner">
    <img class="img_desk" src="~/img/Img_Web2/noticias.png" alt="Numero principal: 7366087" />
    <img class="img_phone" src="~/img/Img_Web2/noticias_cel.png" alt="Numero principal: 7366087" />
</section>

<div class="noticias-body">
    <div class="noticias-contenedor">
        <div class="noticias-titulo">
            <h2 class="tituleAnimation">GANADORES CAMPAÑA PREPARA TUS MALETAS</h2>
        </div>
        <div class="noticias-contenido">
            <img class="noticias-contenido-imagen" src="~/img/Img_Web2/ganadores.png" alt="Alternate Text" />
            <div class="noticias-contenido-informacion">
                <p>
                    COFINAL se permite infomar el resultado del sorteo de tres Planes de Viaje, realezado en las instalacionesde la Cooperateva, el día 11 de noviembre del año en curso, en presencia de la Gerente General y delSubgerente Comercial, auditado por la Oficial de Cumplimiento y el Director de Control Interno.
                    <br />
                    <h4>Los Felices ganadores son</h4>
                    <table class="content-table">
                        <tr style="border-top:1px dashed white;">
                            <th>No</th>
                            <th>Ganador</th>
                            <th>Agencia</th>
                        </tr>
                        <tr class="active-row">
                            <td>1</td>
                            <td>Roberto Madroñero</td>
                            <td>Taminango</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Juan Carlos Ante</td>
                            <td>Popayán</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Edison Fabian Vargas</td>
                            <td>Palmira</td>
                        </tr>
                    </table>
                    <h4>Premio</h4>
                    <div>
                        Consiste en un viaje a San Andrés, para el ganador y un acompañante, e incluye:
                        <ul>
                            <li>Tiquetes aéreos en la ruta Pasto - San Andés - Pasto</li>
                            <li>Alojamiento 3 noches / 4 días en el Hotel DECAMERON AQUARIUM.</li>
                            <li>Alojamiento tipo buffet</li>
                            <li>Traslados aeropuerto - hotel - aeropuerto.</li>
                            <li>Tarjeta de asistencia médica</li>
                            <li>Tarjeta de ingreso a la isla ($125.000 por persona)</li>
                            <li>Gastos no especificados en el plan como llamadas o lavandería.</li>
                        </ul>
                    </div>
                    Los ganadores deberán ponerse en contacto a través de la Dirccción de Agencia donde tienen radicados susproductos, con la Subgerencia Comercial. Las inquietudes serán atendidas por Subgerencia Comercial en la <strong>extensión 253</strong>
                </p>
            </div>
        </div>
    </div>
</div>