@{
    ViewBag.Title = "Productos";
    ViewBag.titulo = "Ahorros";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "potafolioActivo";
    ViewBag.c = Url.Action("index", "Home/Ahorros");
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default sidebar-menu with-icons" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="panel-body">
                        <ul id="nav1" class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#cuentaCofiahorrito" data-toggle="pill">Cuenta Cofiahorrito</a>
                            </li>
                            <li>
                                <a href="#cuentaCofijunior" data-toggle="pill">Cuenta Cofijunior</a>
                            </li>
                            <li>
                                <a href="#cuentaCofidiario" data-toggle="pill">Cuenta Cofidiario</a>
                            </li>
                            <li>
                                <a href="#cuentaEmpresarial" data-toggle="pill">Cuenta Empresarial</a>
                            </li>
                            <li>
                                <a href="#ahorroContractual" data-toggle="pill">Ahorro Contractual</a>
                            </li>
                            <li>
                                <a href="#ahorroSemilla" data-toggle="pill">Cuenta de ahorro Semilla Cooperativa</a>
                            </li>
                            <li>
                                <a href="#cdat" data-toggle="pill">C.D.A.T</a>
                            </li>

                            @*<li style="visibility: hidden;" class="active">
                            <a href="#ahorroCumplirSueños" data-toggle="pill">Ahorro para cumplir tus sueños</a>
                        </li>*@

                        </ul>
                    </div>
                </div>

            </div>

            <!-- *** MENUS AND FILTERS END *** -->
            <!-- ---------------INICIA CUENTA COFIAHORRITO ------------------------------ -->

            <div class="tab-content col-md-9" style="background-color: rgba(255, 255, 255, 0.8);">

                <div class="tab-pane active" id="cuentaCofiahorrito">
                    <div class="heading">
                        <h4>CUENTA COFIAHORRITO</h4>
                    </div>
                    <p class="text-justify">
                        Cuenta de ahorros a la vista para niños y niñas de cero a 13 años de edad.
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group accordion" id="accordionThree">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">
                                                Características de la Cuenta:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3a" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Manejo con acompañamiento de representante legal(tutor).</li>
                                                        <li>Posibilidad de realizar depósitos de cualquier valor.</li>
                                                        <li>Pago de intereses sobre saldos diarios.</li>
                                                        <li>Cuenta exenta del 4 x 1000 (GMF). Única cuenta.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">
                                                Beneficios :
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapse3b" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Acceso al Fondo de Solidaridad (aplican condiciones y restricciones).</li>
                                                        <li>Cuenta libre de cuota de manejo.</li>
                                                        <li>Consignaciones y retiros en todas las agencias Cofinal sin costo alguno.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse4b">
                                                Requisitos :
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapse4b" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Copia ampliada del documento de identidad del menor y de su representante legal.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 center-block">
                            <img class="img-responsive" data-animate="fadeInRight" src="~/img/cofiahorrito.jpg" alt="CofiAhorrito" style="border-radius:18px;">
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">MONTOS DE AFILIACIÓN</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Afiliación</td>
                                                <td>$ 9.000</td>
                                            </tr>
                                            <tr>
                                                <td>Depósito de ahorros</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <td>Aportes Sociales</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <td>Libreta de ahorros</td>
                                                <td>$ 0</td>
                                            </tr>
                                            <tr>
                                                <td>Recreación, cultura y deporte</td>
                                                <td>$ 1.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 20.000</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">CUOTAS MENSUALES</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Aportes sociales</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <td>Fondo de Recreación, Cultura y Deporte</td>
                                                <td>$ 1.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 6.000</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>

                <!-- ---------------CIERRA CUENTA COFIAHORRITO------------------------------ -->
                <!-- ---------------INICIA CUENTA JUNIOR ------------------------------ -->


                <div class="tab-pane " id="cuentaCofijunior">

                    <div class="heading">
                        <h4>CUENTA COFIJUNIOR</h4>
                    </div>
                    <p class="text-justify">
                        Cuenta de ahorros a la vista para jóvenes entre 14 y 23 años en etapa educativa.
                    </p>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="panel-group accordion" id="accordionOne">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionOne" href="#collapse1a" aria-expanded="true" class="">
                                                Características de la Cuenta:
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapse1a" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <ul class="text-justify">

                                                <li>
                                                    Manejo con acompañamiento de representante legal(tutor), Aplican condiciones.
                                                </li>
                                                @*<li>El manejo de la tarjeta débito es de $ 5.000 mensuales, la cooperativa a través del Fondo de Solidaridad, aporta un 50% para un cobro final al asociado de $ 2.500</li>*@
                                                <li>Posibilidad de realizar depósitos de cualquier valor.</li>
                                                <li>Pago de intereses sobre saldos diarios..</li>
                                                <li>Cuenta exenta del 4 x 1000 (GMF). Única cuenta.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionOne" href="#collapse1b" class="collapsed" aria-expanded="false">
                                                Beneficios :
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1b" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Acceso al Fondo de Solidaridad (aplican condiciones y restricciones).</li>
                                                        <li>Acceso app móvil y portal transaccional.</li>
                                                        <li>Acceso a crédito educativo.</li>
                                                        <li>Tarjeta debito sin costo por cuota de manejo.</li>
                                                        <li>Consignaciones y retiros en todas las agencias Cofinal sin costo alguno.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionOne" href="#collapse1bCJ" class="collapsed" aria-expanded="false">
                                                Requisitos :
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1bCJ" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Copia ampliada del documento de identidad del menor y de su representante legal en caso de ser menor de edad.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 center-block">
                            <img class="img-responsive" data-animate="fadeInRight" src="~/img/cofijunior-01.jpg" alt="CofiAhorrito" style="border-radius:18px;">
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">MONTOS DE AFILIACIÓN</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Afiliación</td>
                                                <td>$ 10.000</td>
                                            </tr>
                                            <tr>
                                                <td>Depósito de ahorros</td>
                                                <td>$ 10.000</td>
                                            </tr>
                                            <tr>
                                                <td>Aportes Sociales</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <td>Fondo de solidaridad</td>
                                                <td>$ 4.000</td>
                                            </tr>                                            
                                            <tr>
                                                <td>Fondo de Recreación, Cultura y Deporte</td>
                                                <td>$ 1.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 30.000</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">CUOTAS MENSUALES</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Aportes sociales</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <td>Depósito de ahorros</td>
                                                <td>Voluntario</td>
                                            </tr>
                                            <tr>
                                                <td>Fondo de solidaridad</td>
                                                <td>$ 4.000</td>
                                            </tr>
                                            <tr>
                                                <td>Recreación, cultura y deporte</td>
                                                <td>$ 1.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 10.000</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                <!-- ---------------CIERRA CUENTA COFIJUNIOR------------------------------ -->
                <!-- ---------------INICIA CUENTA COFIDIARIO------------------------------ -->

                <div class="tab-pane" id="cuentaCofidiario">
                    <div class="heading">
                        <h4>CUENTA COFIDIARIO</h4>
                    </div>
                    <p class="text-justify">
                        Cuenta de ahorros a la vista para mayores de edad en etapa productiva.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group accordion" id="accordionemp">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionemp" href="#collapseemp1" aria-expanded="true" class="">
                                                Características de la Cuenta:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseemp1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <ul class="text-justify">
                                                <li>Posibilidad de realizar depósitos de cualquier valor.</li>
                                                <li>Pago de intereses sobre saldos diarios.</li>
                                                <li>Cuenta exenta del 4 x 1000 (GMF). Única cuenta.</li>
                                                <li>Disponibilidad inmediata del dinero a través de toda la red de agencias, establecimientos comerciales y cajeros electrónicos.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionemp" href="#collapseemp" class="collapsed" aria-expanded="false">
                                                Beneficios :
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseemp" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <ul class="text-justify">
                                                <li>Acceso al Fondo de Solidaridad (aplican condiciones y restricciones).</li>
                                                <li>Acceso app móvil y portal transaccional.</li>
                                                <li>Acceso a todas las líneas de crédito.</li>
                                                <li>Tarjeta debito sin costo por cuota de manejo.</li>
                                                <li>Consignaciones y retiros en todas las agencias Cofinal sin costo alguno.</li>
                                                <li>Plan exequial.</li>
                                                <li>Pólizas de seguro de vida cofinanciadas.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionemp" href="#collapcofiD" class="collapsed" aria-expanded="false">
                                                Requisitos :
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapcofiD" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <ul class="text-justify">
                                                <li>Copia ampliada del documento de identidad.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 center-block">
                            <img class="img-responsive" data-animate="fadeInRight" src="~/img/ahvi.jpg" alt="Cofidiario" style="border-radius:18px;">
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">MONTOS DE AFILIACIÓN</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Afiliación</td>
                                                <td>$ 12.000</td>
                                            </tr>
                                            <tr>
                                                <td>Depósito de Ahorros</td>
                                                <td>$ 10.000</td>
                                            </tr>
                                            <tr>
                                                <td>Aportes Sociales</td>
                                                <td>$ 11.000</td>
                                            </tr>
                                            <tr>
                                                <td>Aportes Fondo de Solidaridad</td>
                                                <td>$ 6.000</td>
                                            </tr>
                                            <tr>
                                                <td>Fondo de Recreación, Cultura y Deporte</td>
                                                <td>$ 1.000</td>
                                            </tr>
                                            <tr>
                                                <td>Seguro de vida</td>
                                                <td>$ 7.500</td>
                                            </tr>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 47.500</th>
                                            </tr>
                                            <tr>
                                                <td>Plan Exequial (Opcional)</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>GRAN TOTAL</th>
                                                <th>$ 52.500</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">CUOTAS MENSUALES</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Aportes Sociales</td>
                                                <td>$ 11.000</td>
                                            </tr>
                                            <tr>
                                                <td>Fondo de Solidaridad</td>
                                                <td>$ 6.000</td>
                                            </tr>
                                            <tr>
                                                <td>Fondo de Recreación, Cultura y Deporte</td>
                                                <td>$ 1.000</td>
                                            </tr>
                                            <tr>
                                                <td>Seguro de Vida</td>
                                                <td>$ 7.500</td>
                                            </tr>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 25.500</th>
                                            </tr>
                                            <tr>
                                                <td>Plan Exequial (Opcional)</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>GRAN TOTAL</th>
                                                <th>$ 30.500</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>

                <!-- ---------------CIERRA CUENTA COFIDIARIO------------------------------ -->
                <!-- ---------------INICIA CUENTA EMPRESARIAL------------------------------ -->

                <div class="tab-pane" id="cuentaEmpresarial">
                    <div class="heading">
                        <h4>CUENTA DE AHORRO EMPRESARIAL</h4>
                    </div>
                    <p class="text-justify">
                        Cuenta de ahorros a la vista para personas jurídicas del sector público o privado y Mipymes.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group accordion" id="accordionEmp2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionEmp2" href="#collapseemp4" aria-expanded="true" class="">
                                                Características de la Cuenta:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseemp4" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <ul class="text-justify">
                                                <li>Posibilidad de manejo de nominade los colaboradores.</li>
                                                <li>Pago de intereses sobre saldos diarios.</li>
                                                <li>Cuenta exenta del 4 x 1000 (GMF). Única cuenta.</li>
                                                <li>Disponibilidad inmediata del dinero a través de toda la red de agencias, establecimientos comerciales y cajeros electrónicos.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionEmp2" href="#collapseemp5" class="collapsed" aria-expanded="false">
                                                Beneficios:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseemp5" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Acceso portal transaccional.</li>
                                                        <li>Acceso crédito empresarial.</li>
                                                        <li>Consignaciones y retiros en todas las agencias Cofinal sin costo alguno.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionEmp2" href="#collapseemp6" class="collapsed" aria-expanded="false">
                                                Requisitos:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseemp6" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Certificado de existencia y representación legal.</li>
                                                        <li>Copia registro único tributario (RUT).</li>
                                                        <li>Copia documento de identidad de representante legal.</li>
                                                        <li>Carta de instrucciones de manejo de cuenta.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 center-block">
                            <img class="img-responsive" data-animate="fadeInRight" src="~/img/iempresarial1.jpg" alt="CofiAhorrito" style="border-radius:18px;">
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">MONTOS DE AFILIACIÓN </h4>
                                </div>

                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Afiliación</td>
                                                <td>$ 10.000</td>
                                            </tr>

                                            <tr>
                                                <td>Aportes Sociales</td>
                                                <td>$ 40.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 50.000</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">CUOTAS MENSUALES </h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Las cuentas juridicas no pagan cuotas mensuales. </td>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>


                <!-- ---------------CIERRA CUENTA AHORRO EMPRESARIAL------------------------------ -->
                <!-- ---------------INICIA CUENTA CONTRACTUAL ------------------------------ -->

                <div class="tab-pane" id="ahorroContractual">
                    <div class="heading">
                        <h4>AHORRO CONTRACTUAL</h4>
                    </div>
                    <p class="text-justify">
                        Modalidad de ahorro programado.
                        <br />
                        para libre destinación, que permite reunir a través de cuotas periódicas iguales, una determinada suma de dinero en un tiempo establecido y generar rentabilidad sobre éste.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group accordion" id="accordionContr">
                                <div class="panel panel-default">
                                    <div class=" panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionContr" href="#collapsecontr1" aria-expanded="true" class="">
                                                Características de la Cuenta:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsecontr1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <ul class="text-justify">
                                                <li>
                                                    Ahorro de cuotas mensuales fijas a plazos iguales o superiores a 6 meses.
                                                </li>
                                                <li>No tiene cuota de manejo.</li>
                                                <li>No requiere antigüedad como asociado.</li>
                                                <li>No se puede redimir antes del plazo pactado.</li>
                                                <li>Pago de intereses sobre saldos diarios.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionContr" href="#collapsecontr2" aria-expanded="true" class="">
                                                Beneficios:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsecontr2" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Posibilidad de programar inversiones futuras.</li>
                                                        <li>Acceso portal transaccional.</li>
                                                        <li>Acceso crédito empresarial.</li>
                                                        <li>Consignaciones y retiros en todas las agencias Cofinal sin costo alguno.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionContr" href="#collapsecontr24" aria-expanded="true" class="">
                                                Requisitos:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsecontr24" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Certificado de existencia y representación legal.</li>
                                                        <li>Copia registro único tributario (RUT).</li>
                                                        <li>Copia documento de identidad de representante legal.</li>
                                                        <li>Carta de instrucciones de manejo de cuenta.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 center-block">
                            <img class="img-responsive" data-animate="fadeInRight" src="~/img/contractual.jpg" alt="Cofiahorrito" style="border-radius:18px;">
                        </div>
                    </div>


                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">APERTURA</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Edad</th>
                                                <th>Monto mínimo</th>
                                                <th>Plazo mínimo</th>
                                                <th>Interes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Menores de Edad</td>
                                                <td>$30.000</td>
                                                <td>6 meses</td>
                                                <td>9.0% E.A.</td>
                                            </tr>
                                        </thead>
                                            <tr>
                                                <td>Mayores de Edad</td>
                                                <td>$50.000</td>
                                                <td>6 meses</td>
                                                <td>9.0% E.A.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>*@
                </div>

                <!-- ---------------CIERRA CUENTA AHORRO CONTRACTUAL------------------------------ -->
                <!-- ---------------INICIA CUENTA SEMILLA COOPERATIVA ------------------------------ -->

                <div class="tab-pane" id="ahorroSemilla">
                    <div class="heading">
                        <h4>CUENTA DE AHORRO SEMILLA COOPERATIVA</h4>
                    </div>
                    <p class="text-justify">
                        Es un  producto de ahorro programado en el cual el asociado - persona natural se organiza en grupos,
                        dentro del sector rural o urbano marginal; realiza un depósito mensual de forma individual dentro de
                        un periodo pactado con antelación.
                    </p>
                    <p> Este producto de ahorro, es atendido en el campo por un Asesor Financiero Rural (AFR).</p>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="panel-group accordion" id="accordionSemi">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionSemi" href="#collapsemilla1" aria-expanded="true" class="">
                                                Tasa de captación:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsemilla1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <p class="text-justify">
                                                Los asociados que constituyan un ahorro SEMILLA COOPERATIVA, contarán  con una tasa
                                                efectiva anual del 2.8% E.A., con causación diaria de intereses, liquidados al vencimiento
                                                del plazo pactado inicialmente. En el caso de que un asociado no cancele una de las cuotas,
                                                el vencimiento del ahorro contractual se conserva en el plazo pactado.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionSemi" href="#collapsemilla2" class="collapsed" aria-expanded="false">
                                                Condiciones del depósito:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsemilla2" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            <p class="text-justify">El ahorro programado Semilla Cooperativa, tendrá las siguientes condiciones:</p>
                                            <ul class="text-justify">
                                                @*<li>El saldo mínimo para establecer un Ahorro programado Semilla Cooperativa será de $10.000.</li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionSemi" href="#collapsemilla3" class="collapsed" aria-expanded="false">
                                                Requisitos:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsemilla3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <ul>
                                                <li>Cedula de ciudadania.</li>
                                                <li>Diligenciar el formulario de Afiliación.</li>
                                                <li>Cancelar el monto mínimo de apertura.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 center-block">
                            <img class="img-responsive" data-animate="fadeInRight" src="~/img/semilla1.png" alt="CofiAhorrito" style="border-radius:18px;">
                        </div>

                    </div>
                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">AFILIACIÓN ACTIVIDAD ECONOMICA DIFERENTE A LA AGROPECUARIA</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Afiliación (única vez)</td>
                                                <td>$ 10.000</td>
                                            </tr>
                                            <tr>
                                                <td>Aportes sociales</td>
                                                <td>$ 15.000</td>
                                            </tr>
                                            <tr>
                                                <td>Depósito de Ahorros</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <td>Seguro de vida</td>
                                                <td>$ 7.500</td>
                                            </tr>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 37.500</th>
                                            </tr>
                                            <tr>
                                                <td>Plan Exequial (Opcional)</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>GRAN TOTAL</th>
                                                <th>$ 42.500</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="panel-heading">
                                    <h4 class="panel-title">AFILIACIÓN ACTIVIDAD ECONOMICA AGROPECUARIA</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Afiliación (única vez)</td>
                                                <td>$ 10.000</td>
                                            </tr>
                                            <tr>
                                                <td>Aportes Sociales</td>
                                                <td>$ 15.000</td>
                                            </tr>
                                            <tr>
                                                <td>Depósito de ahorros</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <td>Seguro de vida</td>
                                                <td>$ 2.500</td>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 32.500</th>
                                            </tr>
                                            <tr>
                                                <td>Plan Exequial (Opcional)</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th> GRAN TOTAL</th>
                                                <th>$ 37.500</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">CUOTAS MENSUALES</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Seguro de vida</td>
                                                <td>$ 7.500</td>
                                            </tr>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 7.500</th>
                                            </tr>
                                            <tr>
                                                <td>Plan Exequial (Opcional)</td>
                                                <td>$ 5.000</td>
                                            </tr>
                                            <tr>
                                                <th>GRAN TOTAL</th>
                                                <th>$ 12.500</th>

                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="panel-heading">
                                    <h4 class="panel-title">CUOTAS MENSUALES</h4>
                                </div>

                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Seguro de vida</td>
                                                <td>$ 2.500</td>
                                            </tr>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th>$ 2,500</th>
                                            </tr>
                                            <tr>
                                                <td>Plan Exequial (Opcional)</td>
                                                <td>$ 10.000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>GRAN TOTAL</th>
                                                <th>$ 10.000</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>




                            </div>
                        </div>
                    </div>*@
                </div>

                <!-- ---------------CIERRA CUENTA CONTRACTUAL------------------------------ -->
                <!-- ---------------INICIA CUENTA C.D.A.T. ------------------------------ -->
                @*<div class="tab-pane" id="cdat">
            <div class="heading">
                <h4>C.D.A.T.</h4>
            </div>
            <div class="row">
                <div class="col-md-6 text-justify">
                    Certificado de Depósito de Ahorro a Término, para asociados naturales o jurídicos que deseen
                    invertir su capital a plazos flexibles. La seguridad y rentabilidad en el depósito
                    son garantías para nuestros asociados.
                    <br />
                    <br />
                    Tasas de interés según término de permanencia. Pago de intereses
                    mensuales, bimensual, trimestral, semestral o al vencimiento del Título.

                </div>
                <div class="col-md-6 center-block">
                    <img class="img-responsive" data-animate="fadeInRight" src="~/img/CDAT-01.png" alt="CofiAhorrito" style="border-radius:18px;">
                </div>
            </div>
        </div>*@


                <!-- ---------------INICIA CUENTA C.D.A.T. ------------------------------ -->
                <div class="tab-pane" id="cdat">
                    <div class="heading">
                        <h4>C.D.A.T</h4>
                    </div>
                    <p class="text-justify">
                        Producto que le permite al asociado, invertir una cantidad de dinero en la Cooperativa durante un tiempo determinado. Transcurrido ese plazo,
                        Cofinal devuelve el dinero, junto con los intereses pactados. Cuenta con atractivas tasas de interés y amplios plazos.

                        Pueden cobrar los intereses en forma mensual, bimensual, trimestral, semestral, anual o al vencimiento.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group accordion" id="accordionCDAT">
                                <div class="panel panel-default">
                                    <div class=" panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionCDAT" href="#collapsecd1" aria-expanded="true" class="">
                                                Beneficios de la cuenta:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsecd1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <ul class="text-justify">
                                                <li>Productos de ahorro amparados por el Seguro para el Ahorro, que ofrece el Fondo de Garantías de Entidades Cooperativas “FOGACOOP.</li>
                                                <li>Planes de Seguros de vida, a muy bajo costo.</li>
                                                <li>Seguro sobre los depósitos gratuito (aplica condiciones).</li>
                                                <li>Primera libreta de ahorros gratuita.</li>
                                                <li>Tarjeta Débito gratuita.</li>
                                                <li>Disponibilidad de sus recursos en cualquiera de nuestras agencias en forma inmediata o en oficinas de las cooperativas integrantes de la RED VISIONAMOS, a nivel nacional.</li>
                                                <li>Débito automático para obligaciones estatutarias, de ahorro y de crédito.</li>
                                                <li>Sistema operativo que permite realizar operaciones en línea y en tiempo real.</li>
                                                <li>Plazos flexibles y atractivas tasas de interés para su ahorro.</li>
                                                <li>Exención del 4 x mil (GMF), de acuerdo a los topes establecido en la Ley.</li>
                                                <li>Auxilios del Solidaridad en caso de calamidad doméstica.</li>                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionCDAT" href="#collapsecd2" class="collapsed" aria-expanded="false">
                                                Requisitos de apertura:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsecd2" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="text-justify">
                                                        <li>Cedula de ciudadania.</li>
                                                        <li>Diligenciar el formulario de Afiliación.</li>
                                                        <li>Cancelar el monto mínimo de apertura.</li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionCDAT" href="#collapsecd5" aria-expanded="true" class="">
                                                    Terminos:
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsecd5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul class="text-justify">
                                                            <li>Tasas de interés según término de permanencia. </li>
                                                            <li>Pago de intereses mensuales, bimensual, trimestral, semestral o al vencimiento del Título.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 center-block">
                            <img class="img-responsive" data-animate="fadeInRight" src="~/img/cdatweb.jpg" alt="Cofiahorrito" style="border-radius:18px;">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">CONDICIONES MINIMAS</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Monto mínimo</th>
                                                <th>Plazo mínimo</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>$200.000</td>
                                                <td>60 dias</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--inicia  tabla de montos-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">TASAS </h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Plazo en días</th>
                                                <th>Tasa de interes E.A.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>60 - 90</td>
                                                <td>14.0%</td>
                                            </tr>
                                            <tr>
                                                <td>91 - 120</td>
                                                <td>14.25%</td>
                                            </tr>
                                            <tr>
                                                <td>121-150</td>
                                                <td>14.50%</td>
                                            </tr>
                                            <tr>
                                                <td>151-180</td>
                                                <td>14.75%</td>
                                            </tr>
                                            <tr>
                                                <td>181-210</td>
                                                <td>15.00%</td>
                                            </tr>
                                            <tr>
                                                <td>211-240</td>
                                                <td>15.25%</td>
                                            </tr>
                                            <tr>
                                                <td>241-270</td>
                                                <td>15.50%</td>
                                            </tr>
                                            <tr>
                                                <td>271-300</td>
                                                <td>15.75%</td>
                                            </tr>
                                            <tr>
                                                <td>301-330</td>
                                                <td>16.00%</td>
                                            </tr>
                                            <tr>
                                                <td>331-365</td>
                                                <td>16.25%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a class="myButtons" href="~/home/Simulador">Simulador</a>
                                </div>
                            </div>
                        </div><!--termina tabla de montos-->
                    </div>
                </div>
                <!--AQUI TERMINA-->
            </div>
        </div>
    </div>
</section>
<script>
    var ubicacion = window.location.hash;
    console.log(ubicacion);
    $('a[href='+ubicacion+']').tab('show')  
</script>
