
@{
    ViewBag.Title = "Quienes Somos";
    ViewBag.titulo = "Nuestra Cooperativa";
    ViewBag.url = Url.Action("index", "home");
    //ViewBag.activo = "conoscanosActivo";
    ViewBag.activo = "Conózcanos";

}
<!-- estilo contenido -->
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">
<style>
    #heading-breadcrumbs {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/Img_Web2/background_aniversario.png) center;
        padding: 60px 0;
        /* margin-bottom: 40px; */
    }
</style>

<!-- imagen fondo1-->
@*<div class="parallaxbox" id="pb0" style="background-image: url('/img/fondos/Nuestra Coop.jpg');"> </div>*@
<!-- contenido-->
<section class="imagen_directorio"> 
    <img src="~/img/Img_Web2/somos.png" alt="Numero principal: 7366087" />
</section>
<section class="contenido">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.8); ">
        @*<ul class="nav nav-tabs" style="background-color: #ffffff ">*@
        <div class="quienes_somos_container">
            <a id="an" href="#quienesSomos" data-toggle="tab">
                <div id="quienS" class="item-quienessomos active">
                    Quienes Somos
                </div>
            </a>
            <a id="an" data-toggle="tab" href="#resenaHistorica">
                <div id="resena" class="item-quienessomos">
                    Reseña Histórica
                </div>
            </a>
            <a id="an" data-toggle="tab" href="#mision">
                <div id="misio" class="item-quienessomos">
                    Misión
                </div>
            </a>
            <a  id="an" data-toggle="tab" href="#vision">
                <div  id="visio" class="item-quienessomos">
                    Visión
                </div>
            </a>
        </div>
        @*</ul>*@

        <div class="tab-content" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="tab-pane active" id="quienesSomos">

                <div class="heading">
                    <h2>SOMOS...</h2>
                </div>
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <p class="text-justify">
                            Una empresa nariñense de carácter privado, sin ánimo de lucro y de servicio social, fundada el 4 de Julio de 1.964.
                            <br>
                            <br>
                            Una Cooperativa de Ahorro y Crédito con 58 años de existencia en el sector de la Economía Solidaria.
                            <br>
                            <br>
                            Una empresa vigilada, inspeccionada y controlada por la Superintendencia de la Economía Solidaria – “SUPERSOLIDARIA”
                            <br>
                            <br>
                            Una empresa donde los ahorros de los asociados se encuentran protegidos por el Fondo de Garantías de Entidades Cooperativas “FOGACOOP”.
                            <br>
                            <br>
                            Es impulsor del desarrollo socioeconómico del suroccidente Colombiano a través de servicios cooperativos de ahorro y crédito.
                        </p>
                    </div>
                    <div class="parte-img">
                        <img class="cumple" src="~/igmSliders/imagenes nuevas/cumpleaños_cofinal_2022.jpeg" alt="Cumpleaños de Cofinal" />
                    </div>                </div>
            </div>
            <div class="tab-pane " id="resenaHistorica">
                <div class="heading">
                    <h2>Reseña Histórica</h2>
                </div>
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <p class="text-justify">
                            En el enigmático y bello sur de Colombia y mas exactamente en la serena y plácida ciudad de Pasto, el 4 de julio de
                            1964 se hace el reconocimiento de la personería Jurídica a nuestra importante cooperativa hoy llamada COFINAL.<br><br>

                            Los años sesenta fueron marcados por grandes y definitivos acontecimientos que vale la pena resaltar: el invento de
                            la píldora, la aparición de la mini falda y el bikini, la primavera de Praga, el mayo de Paris, el primer viaje del hombre a
                            la luna, la música sugerente y perenne de los Beatles, la primera visita de un Papa a Colombia y con mucha satisfacción y orgullo,
                            la fundación de la cooperativa COOEDUCADOR, por iniciativa de 58 docentes de la institución educativa San Juan Bosco, que vieron en
                            la asociatividad, una verdadera alternativa para colmar las necesidades económicas, sociales, entre otras, de las personas
                            pertenecientes al sector educativo<br><br>

                            En el año 1995  se cambia la razón social de Coeducador a lo que hoy conocemos como Cofinal y, abre su vinculo permitiendo así
                            la vinculación de personas dedicadas a diferentes actividades económicas.<br><br>

                            Hoy ofrece cobertura con oficinas propias en los departamentos de Nariño, Valle, Cauca y Putumayo, y a nivel nacional hace parte
                            de la red Visionamos que congrega mas de 120 cooperativas a nivel nacional, en las cuales los asociados de Cofinal pueden realizar
                            sus transacciones.
                        </p>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/Fotografia_edificio.png" alt="Edificio de Cofinal" /></div>
                </div>

            </div>
            <div class="tab-pane" id="mision">
                <div class="heading">
                    <h2>Misión Corporativa</h2>
                </div>
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <p class="text-justify">
                            Brindar servicios cooperativos de ahorro y crédito, que generen bienestar a los asociados,sus familias y a la comunidad en general,contribuyendo al desarrollo del país.
                        </p>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/mision.jpg" alt="Mision de Cofinal" /></div>
                </div>

            </div>
            <div class="tab-pane" id="vision">
                <div class="heading">
                    <h2>Visión Corporativa  </h2>
                </div>
                <div class="quien_container_contenido">
                    <div class="parte-texto">
                        <p class="text-justify">
                            En 2024 COFINAL se consolidará como la cooperativa líder en la prestación de servicios financieros y sociales del suroccidente colombiano, ampliando su cobertura a través de la innovación y el fortalecimiento organizacional.
                        </p>
                    </div>
                    <div class="parte-img"><img src="~/img/Img_Web2/vision.jpg" alt="Vision de Cofinal" /></div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- imagen fondo2-->
@*<div class="parallaxbox" id="pb1" style="background-image: url('/img/fondos/Nuestra Coop.jpg');"> </div>*@
<!--seccion direccion-->
<section class="background-white no-mb">
    <div class="container">
        <div class="row" style="padding-top:20px;">
            <div class="col-md-4" data-animate="fadeInUp">
                <div class="box-simple">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <h3>DIRECCION</h3>
                    <p>
                        Cra. 29 No. 18-41
                        San Juan de Pasto
                        Nariño Colombia - Suramerica
                    </p>
                </div>
            </div>

            <div class="col-md-4" data-animate="fadeInUp">
                <div class="box-simple">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <h3>Centro de llamadas</h3>
                    <p>
                        Tel: +(011572) 7336300
                    </p>
                </div>
            </div>

            <div class="col-md-4" data-animate="fadeInUp">
                <div class="box-simple">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <h3>CORREO ELECTRONICO</h3>
                    <p class="text-muted">
                        servicioalasociado@cofinal.com.co
                    </p>
                    <strong><a href="mailto:"> </a></strong>
                </div>
                <!-- /.box-simple -->
            </div>
        </div>
    </div>
</section>
<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(252,132,4,0.9)" fill-opacity="1" d="M0,32L120,74.7C240,117,480,203,720,202.7C960,203,1200,117,1320,74.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</div>

<style>
    .maps iframe {
        pointer-events: none;
    }
</style>

<!--<div class='embed-container  maps'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9160578226433!2d-77.28225128580804!3d1.2185285623241011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed487375d6129%3A0x75d762a9f2c9e3da!2sCOFINAL!5e0!3m2!1ses!2sit!4v1454678597238" height="350" frameborder="0" style="border: 0; width: 100%;" allowfullscreen></iframe>
</div>-->
<!-- scrip para parallax-->
@*<script type="text/javascript">
    function parallax() {
        setpos("#pb0");
        setpos("#pb1");

    }

    function setpos(element, factor) {
        factor = factor || 2;

        var offset = $(element).offset();
        var w = $(window);

        var posx = (offset.left - w.scrollLeft()) / factor;
        var posy = (offset.top - w.scrollTop()) / factor;

        $(element).css('background-position', '100% ' + posy + 'px');

        // use this to have parralax scrolling vertical and horizontal
        //$(element).css('background-position', posx+'px '+posy+'px');
    }

    $(document).ready(function () {
        parallax();
    }).scroll(function () {
        parallax();
    });
</script>*@

<script>
    const list__somos = document.querySelectorAll(".item-quienessomos");

    document.querySelectorAll(".item-quienessomos").forEach((somos) => {
        somos.addEventListener("click", () => {
            list__somos.forEach(somosT => somosT.classList.remove('active'));
            //console.log(agencia.id);
            somos.classList.add('active');
            //document.querySelectorAll(".tab-pane").forEach((item) => {
            //    item.classList.remove('active');
            //    //console.log(item.classList);
            //    //console.log(agencia)
            //    //console.log(item.id);
            //    //console.log(item);
            //    const agencia_lugar = `${agencia.id}_Agencia`
            //    if (item.id == agencia_lugar) {
            //        //console.log(item.id)
            //        item.classList.add('active');
            //    }
            //})
        });
    })
</script>



