@{
    ViewBag.Title = "RteDian";
    ViewBag.titulo = "Regimén Tributario Especial Dian";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "Dian";

}

<style>
    .contenido {
        background-image: url(/img/texture-bw.png);
        padding-top: 20px;
        padding-bottom: 50px;
        -webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
    }

    #heading-breadcrumbs {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/Dian-banner.png) center no-repeat;
        padding: 50px 0;
    }
</style>
<!-- estilo para imagen con parallax-->
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">




<!-- imagen fondo1-->
@*<img src="~/img/Dian-banner.png" style="width:1800px; height: 350px;" alt="Multiportal" class="img-responsive  center-block">*@
<!-- contenido-->
@*<a href="https://www.cofinal.com.co/Home/Contact">Contactanos</a>*@

<section class="imagen_baner">
    <img class="img_desk" src="~/img/Img_Web2/dian.png" alt="Numero principal: 7366087" />
    <img class="img_phone" src="~/img/Img_Web2/dian_cel.png" alt="Numero principal: 7366087" />
</section>



<div class="heading text-center" style="margin-bottom:10px;padding-top:10px;">
    <h4>INFORME GESTIÓN AÑO 2021</h4>
</div>
<div class="container__Dian">

    <table class="content-table ">
        <tr style="border-top:1px dashed white;">
            <th>No</th>
            <th>Descripción Archivo</th>
            <th>Archivo</th>
        </tr>
        <tr class="active-row">
            <td>1</td>
            <td>Informe Gestión</td>
            <td><a href="~/Formatos/Doc Dian/1.Informe de Gestion 2021.pdf" target="_blank">Descarga</a><br /></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Estados Financieros</td>
            <td><a href="~/Formatos/Doc Dian/2.Estados Financieros 2021.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Certificación Cumplimiento de Requisitos</td>
            <td><a href="~/Formatos/Doc Dian/3.Cumplimiento de requisitos 2021.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Escritura Constitución Cofinal</td>
            <td><a href="~/Formatos/Doc Dian/4.Escritura Constitucion.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Certificado Existencia y Representación Legal</td>
            <td><a href="~/Formatos/Doc Dian/5.Certificado de Representacion Legal COFINAL.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Acta Asamblea 70 Cofinal</td>
            <td><a href="~/Formatos/Doc Dian/6.Acta asamblea No.70-2022.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Certificación Antecedentes Directivos </td>
            <td><a href="~/Formatos/Doc Dian/7.Certificado de antecedentes 2021.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Erogaciones Directivos</td>
            <td><a href="~/Formatos/Doc Dian/8.Erogaciones año 2021.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Estatutos Cofinal</td>
            <td><a href="~/Formatos/Doc Dian/9.Estatutos.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Memoria Económica</td>
            <td><a href="~/Formatos/Doc Dian/10.Memoria Economica 2021.pdf" target="_blank">Descarga</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Dictamen de Revisor Fiscal</td>
            <td><a href="~/Formatos/Doc Dian/11.Dictamen REVISORIA FISCAL 2021.pdf" target="_blank">Descarga</a></td>
        </tr>
    </table>
</div>





<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(252,132,4,0.9)" fill-opacity="1" d="M0,64L34.3,74.7C68.6,85,137,107,206,117.3C274.3,128,343,128,411,122.7C480,117,549,107,617,106.7C685.7,107,754,117,823,128C891.4,139,960,149,1029,154.7C1097.1,160,1166,160,1234,138.7C1302.9,117,1371,75,1406,53.3L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</div>

<style>
    .maps iframe {
        pointer-events: none;
    }
</style>



<!--<div class='embed-container  maps'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9160578226433!2d-77.28225128580804!3d1.2185285623241011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed487375d6129%3A0x75d762a9f2c9e3da!2sCOFINAL!5e0!3m2!1ses!2sit!4v1454678597238" height="350" frameborder="0" style="border: 0; width: 100%;" allowfullscreen></iframe>
</div>-->
<!-- scrip para parallax-->
<script type="text/javascript">
    function parallax() {
        setpos("#pb0");
        setpos("#pb1");

    }

    function setpos(element, factor) {
        factor = factor || 2;

        var offset = $(element).offset();
        var w = $(window);

        var posx = (offset.left - w.scrollLeft()) / factor;
        var posy = (offset.top - w.scrollTop()) / factor;

        $(element).css('background-position', '100% ' + posy + 'px');

        // use this to have parralax scrolling vertical and horizontal
        //$(element).css('background-position', posx+'px '+posy+'px');
    }

    $(document).ready(function () {
        parallax();
    }).scroll(function () {
        parallax();
    });
</script>

@*<style type="text/css">
        body {
            overflow-x: hidden;
        }

        .video {
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
        }

            .video iframe {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>*@







