@{

    ViewBag.Title = "Cofinal con Sentido Social";
    ViewBag.titulo = "Formularios de Afiliación";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "afiliacion";

}
@{
    ViewBag.Title = "Como Afiliarse ?";
}
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'b7e1cad8ae31b522b9a3b64e60182dc54a8c7acb';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>


<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="container">
                <h4 style="text-align: center">Afíliese y disfrute de nuestro completo portafolio de productos, servicios y convenios.</h4>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="container" style="padding-top: 1em;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">FORMULARIO PERSONA NATURAL</h3>
                </div>
                <div class="panel-body">
                    <ul> El ahorro es una reserva económica que se hace en el presente para ser utilizada en el futuro.</ul>
                    <h4> Requisitos de apertura:</h4>
                    <ul>
                        <li> Dos (2) fotocopias ampliadas al 150% del documento de identidad del asociado.</li>
                        <li> Diligenciar formatos de vinculación.</li>
                        <li> Fotocopia de los documentos de identidad de los beneficiarios.</li>
                    </ul>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="color: black;">AFILIACIÓN:</label>
                            <a href="~/Formatos/FORMATOS AFILIACION/Formulario_de_Afiliacion_Cofinal.pdf" target="_blank">FORMULARIO PERSONA NATURAL</a>
                        </div><!-- /form-group --> <!--FIN FOMULARIO PERSONA NATURAL-->
                    </div>
                </div>
            </div>

            <div class="panel panel-success" style="border-color: #E1852C ">
                <div class="panel-heading">
                    <h3 class="panel-title">FORMULARIO COFIJUNIOR</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        Cuenta  de ahorros diseñada para jovenes estudiantes, entre 14 y 23 años de edad.
                        Mediante la cuenta de ahorros Cofijunior diseñada especialmente para jovenes
                    </ul>
                    <h4> Requisitos de apertura:</h4>
                    <ul>
                        <li> Fotocopia del documento de identidad</li>
                        <li> Fotocopia ampliada de codumento de identidad del padre o tutor. (En caso de que el asociado sea menor de 18 años)</li>
                        <li> Formulario de afiliación</li>
                    </ul>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="color: black;">AFILIACIÓN:</label>
                            <a href="~/Formatos/FORMATOS AFILIACION/Formulario_de_Afiliacion_Cofinal.pdf" target="_blank">FORMULARIO COFIJUNIOR</a>
                            <!--,click para el formato-->
                        </div><!-- /form-group --> <!-- FIN FOMULARIO COFIJUNIOR-->
                    </div>
                </div>
            </div>

            <div class="panel panel-primary" style="border-color: #da4d4d">
                <div class="panel-heading">
                    <h3 class="panel-title">Formulario COFIAHORRITO</h3>
                </div>
                <div class="panel-body">
                    <ul> Para niñas y niños menores de 14 años, una cuenta de ahorros de fácil apertura, con acceso a fondos sociales en solo tres pasos</ul>
                    <h4> Requisitos de apertura:</h4>
                    <ul>
                        <li>Presenta la fotocopia del documento de identidad de tu hijo de quien será su tutor.(Padre o Madre)</li>
                        <li>Diligencia el formulario de afiliación</li>
                        <li>Con un monto mínimo abre la cuenta</li>
                    </ul>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="color: black;">AFILIACIÓN:</label>
                            <a href="~/Formatos/FORMATOS AFILIACION/Formulario_de_Afiliacion_Cofinal.pdf.pdf" target="_blank">FORMULARIO COFIAHORRITO</a>
                            <!--,click para el formato-->
                        </div><!-- /form-group --><!--FIN FOMULARIO COFIAHORRITO-->
                    </div>

                </div>
            </div>

            <div class="panel panel-success" style="border-color: #E1852C">
                <div class="panel-heading">
                    <h3 class="panel-title">Formulario PERSONA JURIDICA</h3>
                </div>
                <div class="panel-body">
                    <h4> Requisitos de Afiliación:</h4>
                    <ul>
                        <li> 1. Certificado de representacion legal expedido por Cámara de Comercio y/o Registro Unico Tributario (R.U.T) expedido por la DIAN.</li>
                        <li> 2. Dos (2) fotocopias ampliadas al 150% del documento de identidad del repressentante legal de la entidad o empresa.</li>
                        <li> 3. Oficio dirigido a COFINAL explicando las condiciones de manejo de la cuenta.</li>
                        <li> 4. Fotocopia (1) del documento de identidad de cada una de las personas autorizadas para manejar la cuenta de ahorros.</li>
                        <li> 5. Diligenciar el formulario de afiliacion y/o vinculacion a COFINAL en su totalidad.</li>
                    </ul>
                    <br />
                    <div class="col-md-6 form-group">
                        <label style="color: black;">AFILIACIÓN:</label>
                        <a href="~/Formatos/FORMATOS AFILIACION/Formato_Afiliación_Persona_Jurídica.pdf" target="_blank">PERSONA JURIDICA</a>
                        <!--,click para el formato-->
                    </div><!-- /form-group --><!--FIN FOMULARIO PERSONA JURIDICA-->
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,32L34.3,69.3C68.6,107,137,181,206,229.3C274.3,277,343,299,411,288C480,277,549,235,617,224C685.7,213,754,235,823,218.7C891.4,203,960,149,1029,154.7C1097.1,160,1166,224,1234,224C1302.9,224,1371,160,1406,128L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</div>