<?xml version="1.0"?>
<!--<?xml version="1.0" encoding="utf-8"?>
-->
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<!--
<configuration>
  <configSections>
    -->
<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
<!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T0TG1R6\SQLEXPRESS;initial catalog=Fodessa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IngenioEntities" connectionString="metadata=res://*/IngenioModel.csdl|res://*/IngenioModel.ssdl|res://*/IngenioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Ingenio;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
<!--<add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11/cofinalSQL2016;initial catalog=Cofinal; user id=GHDC; password=Geovanny2079/*; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IngenioEntities" connectionString="metadata=res://*/IngenioModel.csdl|res://*/IngenioModel.ssdl|res://*/IngenioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11/cofinalSQL2016;initial catalog=Igenio; user id=CAJC; password=CCCC1234*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<!--
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="email" value="soujiroz330@gmail.com" />
    <add key="pss" value="corad1a" />
    <add key="smtp" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="emailtesoreria" value="carlosalbertojc@gmail.com" />
    <add key="emailmercadeo" value="carlosalbertojc@gmail.com" />
    <add key="emailcontactanos" value="carlosalbertojc@gmail.com" />
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />    
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
  </system.web>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"></remove>
        <add name="Server" value=""></add>
        <add name="X-Frame-Options" value="DENY"></add>
        <add name="X-XSS-Protection" value="1; mode=block"></add>
        <add name="X-Content-Type-Options" value="nosniff"></add>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>-->
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--<connectionStrings>
    <add name="IngenioEntities" connectionString="metadata=res://*/IngenioModel.csdl|res://*/IngenioModel.ssdl|res://*/IngenioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11\COFINALSQL2014;initial catalog=Ingenio;user id=GHDC;password=Geovanny2079/*;multipleactiveresultsets=True;Connect Timeout=9000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11\COFINALSQL2014;initial catalog=cofinal;user id=GHDC;password=Geovanny2079/*;multipleactiveresultsets=True;Connect Timeout=9000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IngenioDian" connectionString="Data Source=192.168.1.11\COFINALSQL2014;Initial Catalog=Ingenio;User ID=GHDC;Password=Geovanny2079/*;MultipleActiveResultSets=True;Application Name=EntityFramework;Connect Timeout=9000" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="IngenioEntities" connectionString="metadata=res://*/IngenioModel.csdl|res://*/IngenioModel.ssdl|res://*/IngenioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11\COFINALSQL2014;initial catalog=Ingenio;user id=GHDC;password=Geovanny2079/*;multipleactiveresultsets=True;Connect Timeout=9000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11\COFINALSQL2014;initial catalog=cofinal;user id=GHDC;password=Geovanny2079/*;multipleactiveresultsets=True;Connect Timeout=9000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="IngenioDian" connectionString="Data Source=192.168.1.11\COFINALSQL2014;Initial Catalog=Ingenio;User ID=GHDC;Password=Geovanny2079/*;MultipleActiveResultSets=True;Application Name=EntityFramework;Connect Timeout=9000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Estos parámetros de appSettings solo funcionan en ASP.NET 4.5 o superior -->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="email" value="centralcofinal@gmail.com"/>
    <add key="pss" value="Kofinal2016"/>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="emailtesoreria" value="servicioalcliente@cofinal.com.co"/>
    <add key="emailmercadeo" value="servicioalcliente@cofinal.com.co"/>
    <add key="emailcontactanos" value="servicioalcliente@cofinal.com.co"/>
    <add key="emailcontactanosFundacion" value="servicioalcliente@cofinal.com.co"/>
    <add key="httpurl" value="https://www.cofinal.com.co"/>
    <!-- Con está opción especificamos que ASP.NET utilice la validación no intrusiva, evitando que inserte código de javascript en linea en todas las páginas de nuestra web -->
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <authentication mode="None"/>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!-- Eliminamos la cabecera de la versión de ASP.NET para mayor seguridad -->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="1024" requestPathInvalidCharacters="" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" executionTimeout="1200"/>
    <!-- Especificamos un nombre de cookie de sesión corto y habilitamos la compresión, esta opción es muy útil sobre todo utilizamos el modo en el que la sesión se guarda en memoria (InProc) -->
    <sessionState timeout="5" cookieName="s" compressionEnabled="true"/>
    <!-- Especificamos que las cookies enviadas no se puedan modificar desde javascript -->
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <!-- Especificamos el idioma y la codificación de los archivos por defecto. -->
    <globalization culture="es-ES" uiCulture="es-ES" enableBestFitResponseEncoding="false" enableClientBasedCulture="false" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8"/>
    <!-- 
        (clientIdMode) Especificamos que los IDs de los controles se generen con el algoritmo "Predictable" para que sean lo más cortos posibles.
        (autoEventWireUp) Evitamos que ASP.NET examine la página para asignar los eventos de los controles.
        (renderAllHiddenFieldsAtTopOfForm) Con está opción en false evitamos que en los webforms aparezcan todos los hidden en la parte superior de la página.
        -->
    <pages clientIDMode="Predictable" autoEventWireup="false" enableEventValidation="true" buffer="true" compilationMode="Always" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="true" renderAllHiddenFieldsAtTopOfForm="false" viewStateEncryptionMode="Always"/>
    <!--
       Especificamos que se utilice la reescritura de la respuesta cuando se produce un error en la aplicación en vez de hacer una redirección. De esta forma logramos que los códigos de estado devueltos sean correctos.
       -->
    <!--DEBUG DNTO -->
    <!--
    <customErrors mode="Off" />
    -->
    <!--<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="error.aspx?error=400">
      <error statusCode="404" redirect="~/Error?error=404" />
      <error statusCode="500" redirect="~/Error?error=500" />
    </customErrors>-->
    <!--
    -->
    <!--DEBUG DNTO -->
    <!-- Deshabilitamos el seguimiento -->
    <trace enabled="false"/>
  </system.web>
  <!-- Habilitamos la compresión y las cabeceras de cache en los manejadores AJAX de ASP.NET -->
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true"/>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <!-- Habilitamos la compresión GZIP y especificamos las cabeceras de cache a un año -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" sendCacheHeaders="true" cacheControlHeader="max-age=31536000" dynamicCompressionDisableCpuUsage="90" staticCompressionDisableCpuUsage="90" dynamicCompressionEnableCpuUsage="0" staticCompressionEnableCpuUsage="0">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" doStaticCompression="true" doDynamicCompression="true" dynamicCompressionLevel="10" staticCompressionLevel="10"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
    </httpCompression>
    <!-- Especificamos que se utilice el reemplazo de la respuesta cuando se produce un error en el servidor en vez de hacer una redirección. De está forma logramos que los códigos de estado devueltos sean correctos. -->
    <!-- DEBUG DNTO-->
    <httpErrors errorMode="Detailed"/>
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="~/Error?error=404" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" subStatusCode="-1" path="~/Error?error=500" responseMode="ExecuteURL" />
    </httpErrors>-->
    <!-- DEBUG DNTO-->
    <!-- Deshabilitamos el listado de directorios -->
    <directoryBrowse enabled="false"/>
    <!-- Deshabilitamos la validación de la configuración en modo integrado -->
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Deshabilitamos que todos los módulos se ejecuten en todas las peticiones -->
    <modules runAllManagedModulesForAllRequests="false"/>
    <!-- 
        Establecemos los tipos MIME de todos los archivos que servimos.
        IIS no sirve los archivos que desconoce su tipo MIME por seguridad.
        Establecemos la cache en un año del cliente.
        -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public"/>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="application/javascript"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".rss"/>
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
      <remove fileExtension=".html"/>
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
      <remove fileExtension=".xml"/>
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
      <remove fileExtension=".mp3"/>
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".ogg"/>
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg"/>
      <remove fileExtension=".ogv"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
      <remove fileExtension=".ttc"/>
      <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".crx"/>
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension"/>
      <remove fileExtension=".xpi"/>
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall"/>
      <remove fileExtension=".safariextz"/>
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream"/>
      <remove fileExtension=".flv"/>
      <mimeMap fileExtension=".flv" mimeType="video/x-flv"/>
      <remove fileExtension=".f4v"/>
      <mimeMap fileExtension=".f4v" mimeType="video/mp4"/>
      <remove fileExtension=".ico"/>
      <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <remove fileExtension=".htc"/>
      <mimeMap fileExtension=".htc" mimeType="text/x-component"/>
      <remove fileExtension=".vcf"/>
      <mimeMap fileExtension=".vcf" mimeType="text/x-vcard"/>
      <remove fileExtension=".torrent"/>
      <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent"/>
      <remove fileExtension=".cur"/>
      <mimeMap fileExtension=".cur" mimeType="image/x-icon"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!-- Establecemos la cabecera que indica que nuestra página solo puede aparecer en frames o iframes de nuestro propio dominio. -->
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <!-- Habilitamos la protección contra XSS en Internet Explorer. -->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!-- Habilitamos la protección contra cambios de tipo MIME en Internet Explorer -->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!-- Eliminamos la cabecera X-Powered-By -->
        <remove name="X-Powered-By"/>
        <!--  Eliminamos la cabecera ETAG. Si un recurso cambia lo mejor es que cambie de URL para que se vuelva a descargar así nos ahorramos que el cliente haga una petición de consulta por cada archivo con la cabecera ETAG                 -->
        <add name="ETAG" value=""/>
        <!--Forzamos a que Internet Explorer use la última versión de su motor de renderizado.                -->
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
    <!-- Establecemos default.aspx como el archivo por defecto de un directorio -->
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="~/Home/"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
          <add verb="HEAD" allowed="false"/>
          <add verb="TRACE" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log_portal.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
<!--ProjectGuid: 89293985-0F5F-46DB-BAD3-A55C933BF937-->